%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
    ai => {
    SubDirectory => {
    TagTable => 'Image::ExifTool::UserDefined::ai'
    },
    },
    qdraw => {
    SubDirectory => {
    TagTable => 'Image::ExifTool::UserDefined::qdraw'
    },
    },
    },
    );

    %Image::ExifTool::UserDefined::ai = (
    GROUPS => {
    0 => 'XMP',
    1 => 'XMP-ai',
    2 => 'Image',
    },
    NAMESPACE => {
    ai => 'https://qdraw.nl/ns/ai/1.0/',
    },
    WRITABLE => 'string',
    SuggestedTags => {
    List => 'Bag',
    },
    RejectedTags => {
    List => 'Bag',
    },
    ImageClassificationModel => {},
    ImageClassificationGeneratedAt => {
    Writable => 'date',
    },
    );


    %Image::ExifTool::UserDefined::qdraw = (
    GROUPS => {
    0 => 'XMP',
    1 => 'XMP-qdraw',
    2 => 'Image',
    },
    NAMESPACE => {
    qdraw => 'https://qdraw.nl/ns/qdraw/1.0/',
    },
    WRITABLE => 'string',
    ImageStabilization => {},
    );

    1;

