%Image::ExifTool::UserDefined = (
    'XMP-ai' => {
    Namespace => 'https://qdraw.nl/ns/ai/1.0/',
    Prefix => 'ai',
    Tags => {
    SuggestedTags => {
    Writable => 'string',
    List => 'Bag',
    },
    RejectedTags => {
    Writable => 'string',
    List => 'Bag',
    },
    ImageClassificationModel => {
    Writable => 'string',
    },
    ImageClassificationGeneratedAt => {
    Writable => 'date',
    },
    },
    },
    );

    1;

