variables:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  NUGET_XMLDOC_MODE: skip
  CI: true

pool:
  vmImage: ubuntu-latest

container: electronuserland/builder:wine

trigger:
  branches:
    include:
    - master
    - release/*
    exclude:
    - feature/*
  paths:
      include:
      - starskyapp/*
      exclude:
      - starsky/*
      - starsky-tools/*
      - starsky.netframework/*

# specific path build
pr:
  branches:
    exclude:
    - master
  paths:
    include:
    - starskyapp/*
    exclude:
    - starsky/*
    - starsky-tools/*
    - starsky.netframework/*

steps:

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      curl https://media.qdraw.nl/temp/include-starsky-win.zip --output $(Build.SourcesDirectory)/starsky/starsky-win7-x86.zip:

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      curl https://media.qdraw.nl/temp/include-starsky-mac.zip --output $(Build.SourcesDirectory)/starsky/starsky-osx.10.12-x64.zip:

- task: Npm@1
  displayName: 'Electron npm ci'
  enabled: true
  inputs:
    command: 'ci'
    workingDir: '$(Build.SourcesDirectory)/starskyapp'

- task: Npm@1
  displayName: 'Electron run macwindows'
  inputs:
    command: 'custom'
    workingDir: '$(Build.SourcesDirectory)/starskyapp'
    customCommand: 'run macwindows'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: starsky-win-desktop'
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)/starskyapp/dist/starsky-win-desktop.zip'
    ArtifactName: 'starsky-win-desktop'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: starsky-mac-desktop'
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)/starskyapp/dist/starsky-mac-desktop.zip'
    ArtifactName: 'starsky-mac-desktop'
