variables:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  NUGET_XMLDOC_MODE: skip

pool:
  vmImage: windows-2019
  demands:
  - msbuild
  - java

trigger:
  branches:
    include:
    - master
    - release/*
    exclude:
    - feature/*
  paths:
      include:
      - starsky/*
      exclude:
      - starskyapp/*
      - starsky-tools/*
      - starsky.netframework/*

# specific path build
pr:
  branches:
    exclude:
    - master
  paths:
    include:
    - starsky/*
    exclude:
    - starskyapp/*
    - starsky-tools/*
    - starsky.netframework/*

steps:
- task: DotNetCoreInstaller@0
  displayName: 'Use .NET Core sdk 3.1.200'
  inputs:
    version: '3.1.200'
  enabled: true

- task: PowerShell@2
  displayName: 'Cake Powershell'
  inputs:
    filePath: 'starsky\build.ps1'
    arguments: '-ScriptArgs ''-runtime="linux-arm,linux-arm64"'''
    pwsh: true
    workingDirectory: '$(Build.SourcesDirectory)\starsky\'

- task: PublishCodeCoverageResults@1
  displayName: 'Publish code coverage from $(Build.SourcesDirectory)\starsky\starskytest\coverage-merge-cobertura.xml'
  inputs:
    codeCoverageTool: Cobertura
    summaryFileLocation: '$(Build.SourcesDirectory)\starsky\starskytest\coverage-merge-cobertura.xml'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: linux-arm'
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)\starsky\starsky-linux-arm.zip'
    ArtifactName: 'linux-arm'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: linux-arm64'
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)\starsky\starsky-linux-arm64.zip'
    ArtifactName: 'linux-arm64'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: generic-netcore'
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)\starsky\starsky-generic-netcore.zip'
    ArtifactName: 'generic-netcore'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: coverage.report zip'
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)\starsky\starskytest\coverage-report.zip'
    ArtifactName: coverage.report
