
.form-nav {
    padding-top: 10px;
}

.form-inline-block > .form-control{
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.form-control {
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 0px solid #000;
  border-bottom: 5px solid #263238;
  box-shadow: inset 0 1px 4px #CFD8DC;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, background-color ease-in-out .15s;
  font-family: "Gloriola Std", sans-serif;
  word-break: break-word;
}

.form-control.disabled, 
.form-control:disabled {
  background-color: #CFD8DC;
}

.form-control:focus {
  border-bottom: 5px solid #283593;
  box-shadow: inset 0px 0px 8px #9FA8DA;
  outline: none;
}

.form-control.form-control--half {
  width: 46%;
}

.icon-addon label.icon-addon--search-focus,
.icon-addon label.icon-addon--search {
  background-color: #000;
  mask-image: url('../images/baseline-search-24px.svg');
  mask-position: 5px 50%;

  content: "";
  position: relative;
  left:4px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left: 23px;

  /* fixes for webkit */
  -webkit-mask-position: 0px 50%;
  -webkit-mask-image: url('../images/baseline-search-24px.svg');
}

.icon-addon label.icon-addon--search-focus {
  background-color: #283593;
}

.icon-addon input.icon-addon--input {
  margin-left: -25px;
  padding-left: 35px;
}

.form-control.inline {
  display: inline;
}

.form-control.inline-block {
  display: inline-block;
}

.form-control[data-name="year"] {
  width: 60px;
  padding: 6px 8px;
}

.form-control[data-name="day"],
.form-control[data-name="month"] {
  width: 47px;
}

.form-control[data-name="sec"],
.form-control[data-name="minute"],
.form-control[data-name="hour"] {
    width: 35px;
    padding: 6px 8px;
}

