/* only the hamburger */
.hamburger-menu-toggle.hamburger__container {
  display: block;
  padding: 1rem;
  margin: -1rem;
  cursor: pointer;
  margin-left: 15px;
  font-size: 0;
}

.hamburger-menu-toggle .hamburger {
  width: 1.20rem;
  height: 0.9375rem;
  position: relative;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(0deg); 
}

.hamburger-menu-toggle .hamburger i {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  background: #FFF;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); 
}

.hamburger-menu-toggle .hamburger i:nth-of-type(1) {
  top: 0;
  transform-origin: left center; 
}

.hamburger-menu-toggle .hamburger i:nth-of-type(2) {
  top: 0.375rem;
  transform-origin: left center; 
}

.hamburger-menu-toggle .hamburger i:nth-of-type(3) {
  top: 0.75rem;
  transform-origin: left center; 
}

.hamburger-menu-toggle .hamburger.open i:nth-of-type(1) {
  transform: rotate(45deg) translate(0, -0.0625rem); 
}

.hamburger-menu-toggle .hamburger.open i:nth-of-type(2) {
  opacity: 0;
  width: 0%; 
}

.hamburger-menu-toggle .hamburger.open i:nth-of-type(3) {
  transform: rotate(-45deg) translate(0, 0.0625rem); 
}