/* more button in menu */

.menu-context {
  display: block;
  position: fixed;
  background: rgba(96, 125, 139, 0.7);
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.menu-context.menu-context--hide {
  display: none;
}

.menu-context .menu-options {
  color: black;
  width: 225px;
  box-shadow: 0 2px 6px 0px #263238;
  list-style: none;
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 450;
  background-color: white;
  border-radius: 5px;
}

.header--edit > .wrapper > .item.item--more > .menu-context .menu-options{
  right:240px;
}

.menu-context .menu-options .menu-option {
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  line-height: 50px;
  vertical-align: middle;
  padding-left: 15px;
}

.menu-context .menu-options .menu-option:nth-child(even) {
  background-color: #ECEFF1;
}

.menu-context .menu-options .menu-option:hover {
  background: rgba(0, 0, 0, 0.2);
}

.menu-context .menu-options .menu-option.disabled {
  cursor: not-allowed; 
  color:#90A4AE;
  text-decoration: line-through;
}