/* more button in menu */

.menu-context {
  display: block;
  position: fixed;
  background: rgba(96, 125, 139, 0.7);
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	.menu-context  {
    background: rgba(69, 90, 100, 0.7); 
    /* #455A64 */
  }
}

.menu-context.menu-context--hide {
  display: none;
}

.menu-context .menu-options {
  color: black;
  width: 225px;
  box-shadow: 0 2px 6px 0px #263238;
  list-style: none;
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 450;
  background-color: white;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
	.menu-context .menu-options {
    background-color: #37474F;
    color: #fff;
    box-shadow: 0 2px 6px 0px #B0BEC5;
  }
}

.header--edit > .wrapper > .item.item--more > .menu-context .menu-options{
  right:240px;
}

.menu-context .menu-options .menu-option {
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  line-height: 50px;
  vertical-align: middle;
  padding-left: 15px;
}

.menu-context .menu-options .menu-option:nth-child(even) {
  background-color: #ECEFF1;
}

@media (prefers-color-scheme: dark) {
	.menu-context .menu-options .menu-option:nth-child(even) {
    background-color: #263238;
  }
}

.menu-context .menu-options .menu-option:hover {
  background: #B0BEC5;
}

@media (prefers-color-scheme: dark) {
	.menu-context .menu-options .menu-option:hover  {
    background-color: #546E7A;
  }
}

.menu-context .menu-options .menu-option.disabled {
  cursor: not-allowed; 
  color:#607D8B;
  text-decoration: line-through;
}

/* only valid for input/ upload field field */
.menu-context .menu-options .menu-option.menu-option--input {
  padding-left: 0px;
}

.menu-context .menu-options .menu-option .droparea-file-input + label{
  width: 100%;
  padding-left: 15px;
  /* placed last */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu-context .menu-options .menu-option .droparea-file-input:focus + label,
.menu-context .menu-options .menu-option .droparea-file-input + label:hover {
  background: #B0BEC5;
}

@media (prefers-color-scheme: dark) {
	.menu-context .menu-options .menu-option .droparea-file-input:focus + label,
  .menu-context .menu-options .menu-option .droparea-file-input + label:hover {
    background-color: #546E7A;
  }
}

.menu-context .menu-options .menu-option:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.menu-context .menu-options .menu-option:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}