/* more button in menu */

.menu-context {
  display: block;
  position: fixed;
  background: rgba(96, 125, 139, 0.7);
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 600;
}

@media (prefers-color-scheme: dark) {
  .menu-context {
    background: rgba(69, 90, 100, 0.7);
    /* #455A64 */
  }
}

.menu-context.menu-context--hide {
  display: none;
}

.menu-context .menu-options {
  color: black;
  width: 225px;
  box-shadow: 0 2px 6px 0px #263238;
  list-style: none;
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 550;
  background-color: white;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  .menu-context .menu-options {
    background-color: #37474f;
    color: #fff;
    box-shadow: 0 2px 6px 0px #b0bec5;
  }
}

.header--edit > .wrapper > .item.item--more > .menu-context .menu-options {
  right: 240px;
}

.menu-context .menu-options .menu-option {
  padding-left: 15px;
  line-height: 18px;
  text-align: left;
  height: 50px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.menu-context .menu-options .menu-option:nth-child(even) {
  background-color: #eceff1;
}

@media (prefers-color-scheme: dark) {
  .menu-context .menu-options .menu-option:nth-child(even) {
    background-color: #263238;
  }
}

.menu-context .menu-options .menu-option:hover {
  background: #b0bec5;
}

.menu-context .menu-options .menu-option:focus {
  border: 3px solid #283593;
  padding-left: 13px;
}

@media (prefers-color-scheme: dark) {
  .menu-context .menu-options .menu-option:hover {
    background-color: #546e7a;
  }
}

.menu-context .menu-options .menu-option.disabled {
  cursor: not-allowed;
  color: #607d8b;
  text-decoration: line-through;
}

/* only valid for input/ upload field field */
.menu-context .menu-options .menu-option.menu-option--input {
  padding-left: 0px;
}

.menu-context .menu-options .menu-option .droparea-file-input + label {
  width: 100%;
  padding-left: 15px;
  /* placed last */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu-context .menu-options .menu-option .droparea-file-input:focus + label,
.menu-context .menu-options .menu-option .droparea-file-input + label:hover {
  background: #b0bec5;
}

@media (prefers-color-scheme: dark) {
  .menu-context .menu-options .menu-option .droparea-file-input:focus + label,
  .menu-context .menu-options .menu-option .droparea-file-input + label:hover {
    background-color: #546e7a;
  }
}

.menu-context .menu-options .menu-option:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.menu-context .menu-options .menu-option:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
