
.preloader.preloader--overlay-no-transition,
.preloader.preloader--overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top:0px;
  left:0px;
  background-color: rgba(96, 125, 139, 0.7);
  z-index: 410;
}

.preloader.preloader--overlay {
  transition: background-color 500ms ease-in-out;
  animation: preloader--overlay-fadein 4s;
}

@keyframes preloader--overlay-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.preloader.preloader--icon {
  position: fixed;
  left: calc( 50% - 50px );
  top: calc( 50% - 50px );
  display: block;
  width: 100px;
  height: 100px;
  background-image:url('../images/preloader-fancy.svg');
  background-size: contain;
}

.preloader.preloader--inside {
  display: block;
  width: 100px;
  height: 100px;
  background-image:url('../images/preloader-fancy.svg');
  background-size: contain;
}

.preloader.preloader--overlay-no-transition .preloader--icon,
.preloader.preloader--overlay .preloader--icon {
  background-image:unset;
  background-color: white;
  mask-image: url('../images/preloader-fancy.svg');
  mask-size: contain;
}

.preloader.preloader--hide {
  display: none;
}