/* content */

.content > div,
.content > form {
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (max-width: 450px) {
  .content > div,
  .content > form {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.content--header,
.content--subheader {
  padding:15px;
  padding-left: 10px;
  min-height: 50px;
  line-height: 20px;
  background-color: #CFD8DC;  
}

.content--subheader {
  background-color: #ECEFF1;  
}

@media (prefers-color-scheme: dark) {
  .content--header {
    background-color: #455A64;
  }
  .content--subheader {
    background-color: #546E7A;
  }
}

.content--text {
  padding: 10px;
}

.content--text .btn,
.content--text h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.content--header .btn,
.content--text .btn {
  margin-right:10px;
}

.content--text h4:first-child {
  margin-top: 0px;
}

.content > .content--login-form {
  margin-top:20px;
  width: 100%;
}

.content .warning-box,
.content > form > .content--error-true {
  background-color: #283593;
  color: white;
  padding: 5px;
  line-height: 24px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.warning-box.warning-box--under-form {
  margin-top:25px;
}


.content .warning-box:before,
.content > form > .content--error-true:before {
    content: "";
    background-color: white;
    mask-repeat: no-repeat;
    mask-position: center;
    /* fixes for webkit */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    height: 24px;
    padding-left: 24px;
    margin-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;

    -webkit-mask-image: url("../images/baseline-error-24px.svg");
    mask-image: url("../images/baseline-error-24px.svg");
}

.content > .content--login-form > button,
.content > .content--login-form > label {
  display: block;
  margin-bottom: 8px;
}

.content > .content--login-form > input {
  margin-bottom: 15px;
}

