/* content */

.content > div,
.content > form {
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (max-width: 450px) {
  .content > div,
  .content > form {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.content b {
  font-weight: 300;
}

.content--header,
.content--subheader {
  padding:15px;
  padding-left: 10px;
  min-height: 50px;
  line-height: 20px;
  background-color: #CFD8DC;  
}

@media screen and (max-height: 330px) {
.content--header,
.content--subheader {
  font-size: 15px;
  }
}

.content--header b,
.content--subheader b {
  font-weight: 300;
}

.content--subheader {
  background-color: #ECEFF1;  
}

@media (prefers-color-scheme: dark) {
  .content--header {
    background-color: #455A64;
    color: #fff;
  }
  .content--subheader {
    background-color: #546E7A;
    color: #fff;
  }
}
.content--text > button {
  color: #000;
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .content--text > button {
  color: #fff;
  }
}

.content--text > button.box:hover,
.content--text > a.box:hover {
  background-color: #ECEFF1;
  border-radius: 3px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .content--text > button.box:hover,
  .content--text > a.box:hover {
    background-color: #263238;
  }
}

.content--text > button.box:disabled:hover {
  background-color: transparent;
  cursor: not-allowed;
}

.content--text {
  padding: 10px;
}
.content--text .date {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  margin-bottom:10px;
}

.content--text .date-spacer {
  margin-right: 27px;
  display: inline-block;
}

.content--text .date p{
  margin-bottom: 4px;
}

.content--text label, 
.content--text .btn,
.content--text h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.content--header .btn,
.content--text .btn {
  margin-right:10px;
}

.content--text h4:first-child {
  margin-top: 0px;
}

.content > .content--login-form {
  margin-top:20px;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .content > .content--login-form {
    color: #fff;
  }
}

.content--text .warning-box,
.content .warning-box,
.content > form > .content--error-true {
  background-color: #283593;
  color: white;
  padding: 5px;
  line-height: 24px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.warning-box.warning-box--under-form {
  margin-top:25px;
}

.content--text .warning-box:before,
.content .warning-box:before,
.content > form > .content--error-true:before {
    content: "";
    background-color: white;
    mask-repeat: no-repeat;
    mask-position: center;
    /* fixes for webkit */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    height: 24px;
    padding-left: 24px;
    margin-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;

    -webkit-mask-image: url("../images/baseline-error-24px.svg");
    mask-image: url("../images/baseline-error-24px.svg");
}

.content > .content--login-form > button,
.content > .content--login-form > label {
  display: block;
  margin-bottom: 8px;
}

.content > .content--login-form > input {
  margin-bottom: 15px;
}

.content > .content--login-form > .btn {
  margin-right : 10px;
}

.content .legal-text-row {
  margin-bottom: 15px;
}
.content .legal-text-row a{
  text-decoration: underline;
}