
.folder {
  display: flex;
  flex-flow: row wrap;
}


.folder > .box {
  width: 300px;
  height: 300px;
  padding: 10px;
}

@media screen and (max-width: 450px) {
  .folder > .box {
    padding-left: 0px;
  }
}

.folder > .box > .box-content {
  display: block;
  background-color: #ECEFF1;
  height: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: #263238;
  width: 280px;
  transition: background ease-in-out .5s
}

/* select */
.folder > .box--select > .isDirectory-true.box-content:before,
.folder > .box--select > .isDirectory-false.box-content:before {
 position: absolute;
 margin-left:10px;
 margin-top:10px;
 width: 40px;
 height: 40px;
 display: block;
 border-radius: 20px;
 border: #607D8B solid 5px;
 content: "";
 z-index: 5;
}

/* select */
.folder > .box--select > .isDirectory-true.box-content--selected:before,
.folder > .box--select > .isDirectory-false.box-content--selected:before {
  border: #fff solid 0px;
  background-color: #283593;
  width: 45px;
  height: 45px;
  mask-image: url("../images/baseline-check_circle-24px.svg");
  mask-size: cover;
  z-index: 5;
}


.folder > .box > .box-content > .caption {
  display: block;
  height: 27%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left-width: 0px;
  border-right-width: 0px;
  background-color:#CFD8DC;
  transition: background ease-in-out .5s
}

.folder > .box--view > .box-content:hover .caption {
  background-color:#B0BEC5;
}

.folder > .box--view > .box-content:hover {
  background-color:#CFD8DC;
}

/* should not exist */
.folder > .box > .box-content.colorclass---1 .caption{
  border-top: #90A4AE solid 12px;
}

/* geen */
.folder > .box > .box-content.colorclass--0 .caption{
  border-top: #90A4AE solid 12px;
  /* background-color: #CFD8DC; */
}

/* pink */
.folder > .box > .box-content.colorclass--1 .caption{
  border-top: #F06292 solid 12px;
  /* background-color: #F48FB1; */
}

/* red */
.folder > .box > .box-content.colorclass--2 .caption{
  border-top: #EF5350 solid 12px;
  /* background-color: #E57373; */
}

/* Orange */
.folder > .box > .box-content.colorclass--3 .caption{
  border-top: #FFB74D solid 12px;
  /* background-color: #FFE0B2; */
}

/* yellow */
.folder > .box > .box-content.colorclass--4 .caption{
  border-top: #FFEB3B solid 12px;
  /* background-color: #FFF59D; */
}

/* green */
.folder > .box > .box-content.colorclass--5 .caption{
  border-top: #66BB6A solid 12px;
  /* background-color: #C8E6C9; */
}

/* azure */
.folder > .box > .box-content.colorclass--6 .caption{
    border-top: #26C6DA solid 12px;
  /* background-color: #B2EBF2; */

}

/* blue */
.folder > .box > .box-content.colorclass--7 .caption{
  border-top: #5C6BC0 solid 12px;
  /* background-color: #BBDEFB; */
}

/* grey = 8*/
.folder > .box > .box-content.colorclass--8 .caption{
  border-top: #455A64 solid 12px;
}

.folder > .warning-box {
  margin-top:15px;
}

.folder > .warning-box.warning-box--left {
  margin-left:10px;
}

/* // .tags */
.folder > .box > .box-content > .caption > div {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.folder > .box > .box-content > .caption > .name {
  padding-top: 10px;
  font-weight: 300;
}

.folder > .box > .box-content.isDirectory-true > .caption > .name:before {
  background-image: url("../images/baseline-folder-24px.svg");
  background-size: cover;
  height: 14px;
  width:14px;
  margin-right: 5px;
  content: "";
  display: inline-block;
}


.folder > .box > .box-content > .img-box {
  height: 73%;
  width: 100%;
}

.folder > .box > .box-content > .img-box > img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: contain;
  object-position: center;
  border: 0px #fff solid;
}


.folder > .box > .box-content.isDirectory-true > .img-box > img{
  width: 60%;
  height: 60%;
  margin-left:20%;
  margin-top:15%;
  opacity: 0.5;
  transition: opacity ease-in-out .15s
}

.folder > .box > .box-content.isDirectory-true:hover > .img-box > img {
  opacity: 1.0;
}

.folder > .box > .box-content > .img-box--error > img {
  display: none;
}


.folder > .box .box-content .img-box--loading,
.folder > .box > .box-content.isDirectory-true > .img-box,
.folder > .box > .box-content > .img-box--error {
  height: 73%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60px 60px;
}


.folder > .box > .box-content.isDirectory-true > .img-box--error {
  background-image: url("../images/folder-no-child-styled.svg");
}

.folder > .box > .box-content.isDirectory-true > .img-box--error:hover {
  background-image: url("../images/folder-no-child-styled-hover.svg");
}

.folder > .box > .box-content.isDirectory-false > .img-box--error {
  background-image: url("../images/baseline-broken_image-24px.svg");
}

.folder > .box > .box-content > .img-box--loading > img {
  width: 0px;
  height: 0px;
}

.folder > .box .box-content .img-box--loading {
  background-image: url('../images/preloader-fancy.svg');
}
