
.breadcrumb {
  height: 50px;
  background-color: #CFD8DC;
  font-size: 16px;
  line-height: 1.6;
  padding-top:12px;
  /* line-height: 50px; */
  font-weight: 300;
}
.breadcrumb a {
  text-decoration: underline;
  color: #263238;
}

@media (max-width: 400px) {
  
  .breadcrumb {
    height: 60px;
    padding-top:16px;
  }

  .breadcrumb.breadcrumb--long {
      padding-top:5px;
  }
}

