.breadcrumb {
  height: 50px;
  background-color: #eceff1;
  font-size: 16px;
  line-height: 1.6;
  padding-top: 12px;
  font-weight: 300;
}

.breadcrumb a {
  color: #263238;
  background-color: #cfd8dc;
  padding: 9px;
  border-radius: 5px;
  transition:
    background-color 0.2s,
    color 0.2s;
  transition:
    color 0.2s,
    color 0.2s;
}

.breadcrumb .current {
  padding: 9px;
}

.breadcrumb a:hover {
  background-color: #455a64;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .breadcrumb {
    background-color: #37474f;
    color: #fff;
  }
  .breadcrumb a {
    background-color: #263238;
    color: #fff;
  }
}

@media (max-width: 400px) {
  .breadcrumb {
    height: 60px;
    padding-top: 16px;
  }
  .breadcrumb.breadcrumb--long {
    padding-top: 5px;
  }
}

@media screen and (max-width: 600px) {
  .collapsed .breadcrumb span {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .collapsed .breadcrumb {
    display: none;
  }
}
