
.detailview {
  position: absolute;
  top: 50px;
  bottom: 0;
  height: calc(100% - 50px);
  width: 100%;
  background-color: #000;
}


.detailview .main {
  height: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
    overflow: hidden;

}

.detailview--edit .main{
  width: calc(100% - 320px);
}


.detailview .main.main--error {
  background-color: #CCC;
  background-image: url('../images/baseline-broken_image-24px.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 48px;
}
.detailview .image--default.Horizontal {
  max-width: 100%;
  max-height: calc(100% - 50px);
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 25px - 50%));
}
.detailview--edit .image--default.Horizontal {
  transform: translateX(calc(50vw - 160px - 50%)) translatey(calc(50vh - 25px - 50%));
}

/* 180 deg*/
.detailview .image--default.Rotate180 {
  max-width: 100%;
  max-height: 100%;
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 25px - 50%)) rotate(180deg);
}
.detailview.detailview--edit .image--default.Rotate180 {
  transform: translatex(calc(50vw - 160px - 50%)) translatey(calc(50vh - 25px - 50%)) rotate(180deg);
}

/* 90 deg*/
.detailview .image--default.Rotate90Cw {
  max-width: calc(100vh - 50px);
  max-height: 100vw;
  transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 25px - 50%)) rotate(90deg);
}
.detailview--edit .image--default.Rotate90Cw {
  transform: translateX(calc(50vw - 160px - 50%)) translateY(calc(50vh - 25px - 50%)) rotate(90deg);
}

/* 270 deg*/
.detailview .image--default.Rotate270Cw {
  max-width: calc(100vh - 50px);
  max-height: 100vw;
  transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 25px - 50%)) rotate(270deg);
}
.detailview--edit .image--default.Rotate270Cw {
  transform: translatex(calc(50vw - 160px - 50%)) translatey(calc(50vh - 25px - 50%)) rotate(270deg);
}

.detailview .main .nextprev:focus {
  box-shadow: 0px 0px 0px #fff;
}

.detailview .main .nextprev {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 20%;
  height: calc(100% - 50px);
}

.detailview.detailview--edit .main .nextprev.nextprev--next {
  left: calc(80% - 320px);
}

.detailview .main .nextprev.nextprev--next {
  left: 80%;
}


.detailview .main .nextprev:hover .icon{
  position: absolute;
  width: 48px;
  height: 48px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(255,255,255,0.54);
  top: calc(50% - 24px);
  border-radius: 24px;
  background-image: url('../images/m-prev-arrow.svg');
  background-position: 30% center;
}

.detailview .main .nextprev.nextprev--next:hover .icon{
  left: calc(100% - 78px);
  background-image: url('../images/m-next-arrow.svg');
  background-position: 60% center;
}

