
.detailview {
  position: absolute;
  top: 50px;
  bottom: 0px;
  height: calc(100% - 50px);
  width: 100%;
  background-color: #000;
  overflow: hidden; /*for edge*/
}


.detailview .main {
  height: 100%;
  overflow: hidden;
}

.detailview--edit .main{
  width: calc(100% - 320px);
}

.detailview .main.main--error {
  background-color: #CCC;
  background-image: url('../images/baseline-broken_image-24px.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 48px;
}
.detailview .image--default.Horizontal {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.detailview--edit .image--default.Horizontal {
  max-width: calc(100% - 321px);
  left: calc(50% - 160px);
}
@media screen and (max-width: 450px) {
  .detailview--edit .image--default.Horizontal {
    display: none;
  }
}

/* 180 deg*/
.detailview .image--default.Rotate180 {
  max-width: 100%;
  max-height: 100vh;
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 25px - 50%)) rotate(180deg);
}
.detailview.detailview--edit .image--default.Rotate180 {
  max-width: calc(100% - 160px);
  transform: translatex(calc(50vw - 160px - 50%)) translatey(calc(50vh - 25px - 50%)) rotate(180deg);
}
@media screen and (max-width: 450px) {
  .detailview.detailview--edit .image--default.Rotate180 {
    display: none;
  }
}

/* 90 deg*/
.detailview .image--default.Rotate90Cw {
  max-width: calc(100vh - 50px);
  max-height: calc(100vw);
  transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 25px - 50%)) rotate(90deg);
}
.detailview--edit .image--default.Rotate90Cw {
  max-height: calc(100vw - 160px); /* is width */
  transform: translateX(calc(50vw - 160px - 50%)) translateY(calc(50vh - 25px - 50%)) rotate(90deg);
}
@media screen and (max-width: 450px) {
  .detailview.detailview--edit .image--default.Rotate90Cw {
    display: none;
  }
}

/* 270 deg*/
.detailview .image--default.Rotate270Cw {
  max-width: calc(100vh - 50px);
  max-height: calc(100vw);
  transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 25px - 50%)) rotate(270deg);
}
.detailview--edit .image--default.Rotate270Cw {
  max-height: calc(100vw - 160px); /* is width */
  transform: translateX(calc(50vw - 160px - 50%)) translateY(calc(50vh - 25px - 50%)) rotate(270deg);
}
@media screen and (max-width: 450px) {
  .detailview.detailview--edit .image--default.Rotate270Cw {
    display: none;
  }
}

.detailview .main .nextprev:focus {
  box-shadow: 0px 0px 0px #fff;
}

.detailview .main .nextprev {
  position: absolute;
  top:0px;
  left: 0px;
  width: 20%; 
  height:100%;
  transition: background-image 1s;
}

.detailview .main .nextprev.nextprev--next,
.detailview .main .nextprev.nextprev--prev {
  cursor: pointer;
}

/* dont overlap the sidebar */
@media screen and (max-width: 450px) {
  .detailview.detailview--edit .main .nextprev {
    display: none;
  }
}
.detailview.detailview--edit .main .nextprev.nextprev--next {
  left: calc(80% - 320px);
}

.detailview .main .nextprev.nextprev--next {
  left: 80%;
}

.detailview .main .nextprev.nextprev--prev:hover {
  background-image: linear-gradient(-90deg, transparent,  rgba(54,56,57,0.4));
}
.detailview .main .nextprev.nextprev--next:hover {
  background-image: linear-gradient(90deg, transparent,  rgba(54,56,57,0.4));
}

.detailview .main .nextprev:hover .icon{
  position: absolute;
  width: 48px;
  height: 48px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(255,255,255,0.54);
  top: calc(50% - 24px);
  border-radius: 24px;
  background-image: url('../images/m-prev-arrow.svg');
  background-position: 30% center;
}

.detailview .main .nextprev.nextprev--next:hover .icon{
  left: calc(100% - 78px);
  background-image: url('../images/m-next-arrow.svg');
  background-position: 60% center;
}

/* GPX */
.detailview .main.main--gpx .nextprev.nextprev--next,
.detailview .main.main--gpx .nextprev.nextprev--prev {
  z-index: 2;
}

.detailview .main.main--gpx .nextprev.nextprev--prev {
  background-image: linear-gradient(-90deg, transparent, rgba(54,56,57,0.4), rgba(54,56,57,0.4), rgba(54,56,57,0.4));
}
.detailview .main.main--gpx .nextprev.nextprev--next {
  background-image: linear-gradient(90deg, transparent,  rgba(54,56,57,0.4), rgba(54,56,57,0.4), rgba(54,56,57,0.4) );
}

.detailview .main--gpx .leaflet-control-zoom {
  display: none;
}

.detailview .main.main--gpx .leaflet-top, 
.detailview .main.main--gpx .leaflet-bottom,
.detailview .main.main--gpx .leaflet-pane,
.detailview .main.main--gpx .leaflet-tile-loaded,
.detailview .main.main--gpx .leaflet-map-pane svg,
.detailview .main.main--gpx .leaflet-tile-pane {
  z-index: 1;
}

/* align in center of component */
@media screen and (min-width: 450px) {
  .detailview--edit .preloader.preloader--icon {
    left: calc( 50% - 210px ); 
    /* // (320/2)+ (100/2) */
  }
}

.detailview .main.main--mp4 {
  background-image: url('../images/baseline-file-mp4-24px.svg');
}