
.detailview-sidebar {
  width: 320px;
  height: 100%;
  overflow-y: auto;
  right:0px;
  position: absolute;
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  .detailview-sidebar {
    background-color: #37474F;
    color: #fff;
  }
  .detailview-sidebar a {
    color: #fff;
  }
}

.detailview-sidebar .box {
  display: block;
  margin-top: 10px;
  width: 100%;
}

.detailview-sidebar .box:first-child {
  margin-top:0px;
}

.detailview-sidebar .box.box--child {
  padding-left: 30px;
  margin-top: 10px;
}

.detailview-sidebar .box p,
.detailview-sidebar .box b{
  line-height: 1.3;
  font-size: 14px;
}

.detailview-sidebar .box b {
  font-weight: 300;
    display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* ... */
  max-width: calc(100% - 35px);
}

.detailview-sidebar .box .icon {
  float: left;
  height: 35px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
}

.detailview-sidebar .box .icon.icon--right {
  float: right;
}

.detailview-sidebar .box .icon.icon--edit {
  background-image: url('../images/s-edit.svg')
}

.detailview-sidebar .box .icon.icon--date {
  background-image: url('../images/baseline-date_range-24px.svg')
}

.detailview-sidebar .box .icon.icon--last-edited {
  background-image: url('../images/baseline-fingerprint-24px.svg')
}

.detailview-sidebar .box .icon.icon--shutter-speed {
  background-image: url('../images/baseline-shutter_speed-24px.svg');
}

.detailview-sidebar .box .icon.icon--location {
  background-image: url('../images/baseline-location_on-24px.svg');
}

.detailview-sidebar .box .icon.icon--photo {
  background-image: url('../images/baseline-photo-24px.svg');
}

@media (prefers-color-scheme: dark) {
  .detailview-sidebar .box .icon {
    filter: invert(100%);
  }
}
