.colorclass.colorclass--filter {
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
  .colorclass.colorclass--filter {
    margin-left: 0px;
    min-width: 320px;
  }
}

.colorclass > div.colorclass,
.colorclass > .btn.colorclass {
  text-decoration: none;
  color: #263238;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0px;
  padding-left: 5.5px;
  padding-right: 5px;
  height: 35px;
}

.colorclass > div.colorclass label,
.colorclass > .btn.colorclass label {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  margin-right: 5px;
  cursor: pointer;
}

.colorclass > div.colorclass.active label:before,
.colorclass > .btn.colorclass.active label:before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 9px;
  border-left: 2px solid; /* check icon */
  border-bottom: 2px solid;
  transform: translate(0px, -2px) rotate(-45deg);
}

.colorclass > a.btn.colorclass span {
  margin-top: 5px;
  display: inline-block;
}

/* disabled state **/
.colorclass.colorclass--disabled > .btn.colorclass {
  opacity: 0.7;
  cursor: not-allowed;
}

.colorclass.colorclass--disabled > .btn.colorclass label {
  cursor: not-allowed;
}

.colorclass--select > .btn.colorclass.active label:before {
  content: "";
  border: 0px;
  margin-top: 4px;
  background: #263238;
  height: 14px;
  width: 14px;
  border-radius: 100%;
}

.colorclass > .btn.colorclass--reset {
  padding-top: 5px;
  background-color: #90a4ae;
}

/* geen/kleurloos */
.colorclass > .btn.colorclass--0.active {
  background-color: #90a4ae;
}
.colorclass > .btn.colorclass--0 {
  background-color: #cfd8dc;
}

/* pink */
.colorclass > .btn.colorclass--1.active {
  background-color: #f06292;
}
.colorclass > .btn.colorclass--1 {
  background-color: #f48fb1;
}

/* red */
.colorclass > .btn.colorclass--2.active {
  background-color: #ef5350;
}

.colorclass > .btn.colorclass--2 {
  background-color: #ef9a9a;
}

/* Orange */
.colorclass > .btn.colorclass--3.active {
  background-color: #ffb74d;
  /* background-color: #FFE0B2; */
}

.colorclass > .btn.colorclass--3 {
  background-color: #ffe0b2;
}

/* yellow */
.colorclass > .btn.colorclass--4.active {
  background-color: #ffeb3b;
  /* background-color: #FFF59D; */
}

.colorclass > .btn.colorclass--4 {
  background-color: #fff59d;
}

/* green */
.colorclass > .btn.colorclass--5.active {
  background-color: #66bb6a;
}

.colorclass > .btn.colorclass--5 {
  background-color: #c8e6c9;
}

/* azure */
.colorclass > .btn.colorclass--6.active {
  background-color: #26c6da;
}
.colorclass > .btn.colorclass--6 {
  background-color: #b2ebf2;
}

/* blue */
.colorclass > .btn.colorclass--7.active {
  background-color: #5c6bc0;
}
.colorclass > .btn.colorclass--7 {
  background-color: #bbdefb;
}

/* grey = 8*/
.colorclass > .btn.colorclass--8.active {
  /* background-color: #455A64; */
  background-color: #546e7a;
}
.colorclass > .btn.colorclass--8 {
  background-color: #78909c;
}
