
.archive.collapsed {
  width: calc(100% - 300px);
}

@media screen and (max-width: 600px) {
  .archive.collapsed .content{
    opacity: 0.2;
  }
}

.archive .sidebar {
  top: 50px;
  border-left: 1px solid #607D8B;
  width: 320px;
  height: calc(100% - 50px);
  overflow-y: auto;
  right:0px;
  position: fixed;
  background-color: #fff;
  z-index: 7;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  .archive .sidebar {
    background-color: #37474F;
    color: #fff;
  }
}

.archive .sidebar .notify-box,
.archive .sidebar .warning-box {
  background-color: #283593;
  color: white;
  padding-left:10px;
  line-height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:10px;
  margin-right:10px;
  width: calc(100% - 20px);
}

.archive .sidebar > div >.warning-box  {
  margin-left:0px;
  width: calc(100% - 10px);
}

.archive .box {
  display: block;
  margin-top: 10px;
}

.archive .box p,
.archive .box b{
  line-height: 1.3;
  font-size: 14px
}
.archive .box b {
  font-weight: 300;
}

.archive .box .icon {
  float: left;
  height: 35px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
}
.archive .box .icon.icon--right {
  float: right;
}

.archive .box .icon.icon--edit {
  background-image: url('../images/s-edit.svg')
}

.archive .box .icon.icon--date {
  background-image: url('../images/baseline-date_range-24px.svg')
}

.archive .box .icon.icon--last-edited {
  background-image: url('../images/baseline-fingerprint-24px.svg')
}

.archive .box .icon.icon--shutter-speed {
  background-image: url('../images/baseline-shutter_speed-24px.svg');
}

.archive .box .icon.icon--location {
  background-image: url('../images/baseline-location_on-24px.svg');
}

