
.switch {
  background: white;
  border-radius: 15px;
  height: 32px;
  width: 222px;
  border: 1px solid #263238;
}

.switch.disabled {
  border: 1px solid #ECEFF1;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 110px;
  top:-1px;
  line-height: 32px;
  font-size: 14px;
  border-radius: 15px;
  color: #263238;
  text-align: center;
  cursor: pointer;
}

.switch.disabled .switch-label {
  cursor: default;
}

.switch .switch-label:active {
  background-color:white;
}

.switch .switch-label-off {
  padding-left: 2px;
}

.switch .switch-label-on {
  padding-right: 2px;
}

.switch .switch-input {
  display: none;
}

.switch .switch-input:checked + .switch-label {
  background-color:#263238;
  transition: 0.15s ease-out background-color;
  color: white;
}

.switch.disabled .switch-input:checked + .switch-label {
  background-color:#ECEFF1;
  color: #263238;
}

.switch .switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
  /* Note: left: 50%; doesn't transition in WebKit */
}

.switch .switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  height: 32px;
  border-radius: 3px;
  transition: left 0.15s ease-out;
}
