.switch-field input {
    position: absolute;
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    opacity: 0;
}

.switch-field label {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 140px;
  background-color: #fff;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  text-align: center;
  text-shadow: none;
  padding: 7px 10px;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #263238;
	color: #fff;
  box-shadow: none;
}

.switch-field.disabled input:checked + label{
  background-color: #ECEFF1;
  color: #263238;
}

.switch-field label:first-of-type {
  border-radius: 16px 0 0 16px;
}

.switch-field label:last-of-type {
  border-radius: 0 16px 16px 0;
}

/* https://codepen.io/coralsea/pen/mMwwBz */