
.modal-move {
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
}


.modal-move .box {
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  word-break: break-all;
}

.modal-move .box button {
  line-height: 24px;
  height: 100%;
  width: calc(100% - 34px);
  cursor: pointer;
  background-color: transparent;
}

.modal-move .box:nth-child(odd) {
  background-color: #ECEFF1;
}

.modal-move .box:nth-child(even) {
  background-color: #CFD8DC;
}

.modal-move .box.parent {
  background-color: #CFD8DC;
  border-bottom: 3px solid #37474F;
  padding-bottom: 5px;
}

.modal-move .box:before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 2px;
  vertical-align: middle;
}

.modal-move .box.parent:before {
  background-image: url('../images/baseline-arrow_upward-24px.svg');
}

.modal-move .box.isDirectory-true:before {
  background-image: url('../images/baseline-folder-24px.svg');
}
.modal-move .box.isDirectory-false:before {
  background-image: url('../images/baseline-file-24px.svg');
}

.modal-move .box.error:nth-child(even) {
  background-color: #E57373; 
  /* red 300 */
}

.modal-move .box.error:nth-child(odd) {
    background-color: #E53935;
    /* red 600 */
}

.modal-move .box.error:before {
  background-image: url('../images/baseline-error-24px.svg');
}

.modal-move .warning-box {
  margin-top: 10px;
}


.modal-move-button {
  height: 50px;
}