
.modal-move {
  min-height: 65px;
  /* extra space for iOS */
  max-height: calc(100vh - 255px);
  overflow-y: scroll;
}

.modal-move.modal-move--error-space {
  max-height: calc(100vh - 325px);
}

.modal-move .preloader.preloader--inside {
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.modal-move .box {
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  word-break: break-all;
}

.modal-move .box button {
  line-height: 24px;
  width: calc(100% - 34px);
  cursor: pointer;
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .modal-move .box button {
    color: #fff;
  }
}

.modal-move .box:nth-child(odd) {
  background-color: #ECEFF1;
}

.modal-move .box:nth-child(even) {
  background-color: #CFD8DC;
}

@media (prefers-color-scheme: dark) {
  .modal-move .box:nth-child(odd) {
    background-color: #607D8B;
  }
  .modal-move .box:nth-child(even) {
    background-color: #78909C;
  }
}

.modal-move .box.parent {
  background-color: #CFD8DC;
  border-bottom: 3px solid #37474F;
  padding-bottom: 5px;
}

@media (prefers-color-scheme: dark) {
  .modal-move .box.parent {
    background-color: #546E7A;
  }
}

.modal-move .box:before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 2px;
  vertical-align: middle;
}

.modal-move .box.parent:before {
  background-image: url('../images/baseline-arrow_upward-24px.svg');
}

.modal-move .box.isDirectory-true:before {
  background-image: url('../images/baseline-folder-24px.svg');
}
.modal-move .box.isDirectory-false:before {
  background-image: url('../images/baseline-file-24px.svg');
}

/* invert on dark mode */
@media (prefers-color-scheme: dark) {
  .modal-move .box.parent:before ,
  .modal-move .box.isDirectory-true:before,
  .modal-move .box.isDirectory-false:before {
    filter: invert(100%);
  }
}

.modal-move .box.error:nth-child(even) {
  background-color: #E57373; 
  /* red 300 */
}

.modal-move .box.error:nth-child(odd) {
    background-color: #E53935;
    /* red 600 */
}

.modal-move .box.error:before {
  background-image: url('../images/baseline-error-24px.svg');
}

.modal-move .warning-box {
  margin-top: 10px;
}


.modal-move-button {
  background-color: #fff;
  min-height: 50px;
  padding-top: 8px;
  padding-bottom: 14px;
}

@media (prefers-color-scheme: dark) {
  .modal-move-button {
    background-color: #455A64;
  }
}