body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.wrapper {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-flow: row wrap;
}

#portfolio-filter ul {
    margin-left: -40px;
}

#portfolio-filter ul > li {
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: left; 
}

#portfolio-filter ul > li > a {
    margin-right: 15px;
    padding: 10px;
    border-radius: 3px;
    background-color: #b0bec5;
    text-decoration: none;
    color: black;
    transition: background 1.1s ease-in-out, color .5s ease-in-out; }

#portfolio-filter ul > li > .on {
    background-color: #263238;
    color: white; 
}


.wrapper .halfitem {
    padding: 0px;
    margin: 0px;
    width: 50%;
    height: 60vh;
    display: block;
    background-color: #ccc;
    position: relative;
    z-index: 3;
    transform-origin: center center;
    transition: .5s ease-in-out;
}
@media screen and (max-width: 767px) {
    .wrapper .halfitem {
        width: 100%;
    }
}

.wrapper .halfitem {
    color: white;
}

.add-colorclass button:hover {
    color: inherit;
}

.add-colorclass .superioralt,
.wrapper .halfitem.TypicalAlt,
.wrapper .halfitem.SuperiorAlt {
    color: black;
}


.add-colorclass .superioralt:hover {
    color: black;
}

h2 {
    word-break: break-all;
}

p .addDeleteTag {
    margin-top: 15px;
    display: none;
}

.add-colorclass {
    color: white;
}
.add-colorclass button {
    opacity: 0.7;
}


.wrapper .halfitem h3 {
    padding: 0px;
    margin: 0px;
    word-break: break-all;
}

.wrapper .halfitem img {
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
    /*font-family: 'object-fit: cover';*/
    transition: transform .5s ease-in-out;
    overflow: hidden;
    position: relative;
    background-color: beige;
}

.wrapper .halfitem .caption {
    padding-left: 3vw;
    position: absolute;
    top: 40vh;
    width: calc(100%);
    padding-top: 4vh;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    z-index: 4;
}

.add-colorclass .none,
#portfolio-filter ul > li > a.none,
.wrapper .halfitem.None .caption {
    background-color: rgba(0, 0, 0, 0.3);
}

.add-colorclass .none.on,
#portfolio-filter ul > li > a.none.on {
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
}

.add-colorclass .winner,
#portfolio-filter ul > li > a.winner,
.wrapper .halfitem.Winner .caption {
    background-color: rgba(255, 0, 255, 0.3);
}
.add-colorclass .winner.on,
#portfolio-filter ul > li > a.winner.on {
    background-color: rgba(255, 0, 255, 1);
    opacity: 1;
}

.add-colorclass .winneralt,
#portfolio-filter ul > li > a.winneralt,
.wrapper .halfitem.WinnerAlt .caption {
    background-color: rgba(255, 0, 2, 0.3);
}

.add-colorclass .winneralt.on,
#portfolio-filter ul > li > a.winneralt.on {
    background-color: rgba(255, 0, 2, 1);
    opacity: 1;
}

.add-colorclass .superior,
#portfolio-filter ul > li > a.superior {
    background-color: rgba(255, 127, 1, 0.6);
}

.add-colorclass .superior.on,
#portfolio-filter ul > li > a.superior.on {
    background-color: rgba(255, 127, 1, 1);
    opacity: 1;
}

.wrapper .halfitem.Superior .caption {
    background-color: rgba(255, 127, 1, 0.3);
}

.add-colorclass .superioralt.on,
#portfolio-filter ul > li > a.superioralt.on {
    color: #8447B2;
    background-color: rgba(255, 255, 83, 1);
    opacity: 1;
}

.add-colorclass .superioralt,
#portfolio-filter ul > li > a.superioralt,
.wrapper .halfitem.SuperiorAlt .caption {
    background-color: rgba(255, 255, 83, 0.3);
}

.add-colorclass .typical.on,
#portfolio-filter ul > li > a.typical.on {
    background-color: rgba(0, 255, 0, 1);
    color: #B23879;
    opacity: 1;
}

.add-colorclass .typical,
#portfolio-filter ul > li > a.typical,
.wrapper .halfitem.Typical .caption {
    background-color: rgba(0, 255, 0, 0.3);
}

.add-colorclass .typical.on,
#portfolio-filter ul > li > a.typicalalt.on {
    color: #B2582F;
    background-color: rgba(0, 255, 255, 1);
    opacity: 1;
}
#portfolio-filter ul > li > a.typicalalt,
.wrapper .halfitem.TypicalAlt .caption {
    background-color: rgba(0, 255, 255, 0.3);
}

.add-colorclass .extras.on,
#portfolio-filter ul > li > a.extras.on {
    background-color: rgba(0, 0, 255, 1);
    opacity: 1;
}
.add-colorclass .extras,
#portfolio-filter ul > li > a.extras,
.wrapper .halfitem.Extras .caption {
    background-color: rgba(0, 0, 255, 0.3);
}

.add-colorclass .trash.on,
#portfolio-filter ul > li > a.trash.on {
    background-color: rgba(150, 150, 100, 1);
    opacity: 1;
}
.wrapper .halfitem.Trash .caption {
    background-color: rgba(150, 150, 100, 0.3);
}

#portfolio-filter ul > li > a.off {
    opacity: 0.65;
}


@media screen and (max-height: 300px) {
    .wrapper .halfitem .caption {
        top: 0vh;
        height: 60vh;
    }
}

.form-nav {
    padding-top: 10px;
}
@media screen and (max-width: 750px) {

    .form-nav .form-control {
        width: 80vw!important;
    }
    .form-nav {
        width: 100%!important;
    }
    .form-nav,
    .form-nav input {
        display: inline-block!important;
    }
}

.form-wrapper {
    width: 100%;
    margin-bottom: 15px;
}

.form-wrapper .form-control{
    width: calc( 100% - 80px );
    display: inline-block;
}
.form-wrapper .btn {
    display: inline-block;
    float: right;
}
@media screen and (max-width: 800px) and (min-height: 300px) and (max-height: 920px) {
    .wrapper .halfitem .caption {
        top: 35vh;
        height: 21vh;
    }
}

@media screen and (max-height: 550px) and (max-width: 950px) {
    .wrapper .halfitem .caption {
        top: 35vh;
        height: 25vh;
    }
}

h4 .next {
    display: inline-block;
    float: right;
}

.main-image {
    width: auto;
    max-height: 80vh;
}
@media screen and (max-width: 800px) {
    .main-image {
        width: 100%;
        max-height: unset;
    }   
}