body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.wrapper {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-flow: row wrap;
}

.wrapper .halfitem {
    padding: 0px;
    margin: 0px;
    width: 50%;
    height: 60vh;
    display: block;
    background-color: #ccc;
    position: relative;
    z-index: 3;
    transform-origin: center center;
    transition: .5s ease-in-out;
}
.wrapper .halfitem h3 {
    padding: 0px;
    margin: 0px;
}
.wrapper .halfitem img {
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
    /*font-family: 'object-fit: cover';*/
    transition: transform .5s ease-in-out;
    overflow: hidden;
    position: relative;
    background-color: beige;
}


.wrapper .halfitem .caption {
    padding-left: 3vw;
    position: absolute;
    top: 45vh;
    width: calc(100%);
    padding-top: 4vh;
    height: 11vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    z-index: 4;
}

@media screen and (max-height: 300px) {
    .wrapper .halfitem .caption {
        top: 0vh;
        height: 60vh;
    } 
}

@media screen and (max-width: 800px) and (min-height: 300px) and (max-height: 920px) {
    .wrapper .halfitem .caption {
        top: 35vh;
        height: 21vh;
    } }

@media screen and (max-height: 550px) and (max-width: 950px) {
    .wrapper .halfitem .caption {
        top: 30vh;
        height: 26vh;
    } 
}
