html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, picture {
    display: block; }

body {
    line-height: 1; }

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; 
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

em, i {
    font-style: italic; 
}

@font-face {
    font-family: 'Gloriola Std';
    font-style: normal;
    font-weight: 100;
    src: local("Gloriola Std Light"), local("Gloriola-Std-Light"), url(fonts/GloriolaStd-Light.woff2) format("woff2"), url(../fonts/GloriolaStd-Light.woff) format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
    font-family: 'Gloriola Std';
    font-style: normal;
    font-weight: 300;
    src: local("Gloriola Std Medium"), local("Gloriola-Std-Medium"), url(../fonts/GloriolaStd-Medium.woff2) format("woff2"), url(../fonts/GloriolaStd-Medium.woff) format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
    font-family: 'Gloriola Std';
    font-style: normal;
    font-weight: 800;
    src: local("Gloriola Std Bold"), local("Gloriola-Std-Bold"), url(../fonts/GloriolaStd-Bold.woff2) format("woff2"), url(../fonts/GloriolaStd-Bold.woff) format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; 
    font-family: 'Gloriola Std', sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
}

.preloader {
    position:fixed;
    left: calc( 50% - 50px );
    top: calc( 50% - 50px );
    width: 100px;
    height: 100px;
    display: block;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.wrapper {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-flow: row wrap;
}
#portfolio-filter {
    margin-bottom: 15px;
}
#portfolio-filter ul > li {
    display: inline-block;
    text-align: left; 
}

.add-colorclass a,
#portfolio-filter ul > li > a {
    margin-right: 15px;
    border-radius: 3px;
    margin-bottom: 13px;
    padding-right: 10px;
    background-color: #b0bec5;
    text-decoration: none;
    color: black;
    transition: background 1.1s ease-in-out, color .5s ease-in-out;
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
}

#portfolio-filter ul > li a.reset{
    height: 40px;
    padding-left: 10px;
}

.add-colorclass .checkbox,
#portfolio-filter .checkbox {
    float: left;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    background-color: #ccc;
    background-color: rgba(137,135,123,0.3);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    margin-top: 8px;
    margin-right: 10px;
}

.add-colorclass .on .checkbox {
    background-image: url("../images/roundbox.svg");
}

#portfolio-filter .active .checkbox{
    background-image: url("../images/checkbox.svg");
}



.wrapper .halfitem {
    padding: 0px;
    margin: 0px;
    width: 50%;
    height: 60vh;
    display: block;
    background-color: #ccc;
    position: relative;
    z-index: 3;
    transform-origin: center center;
    transition: .5s ease-in-out;
}
@media screen and (max-width: 767px) {
    .wrapper .halfitem {
        width: 100%;
    }
}

.wrapper .halfitem {
    color: white;
}


.add-colorclass .superioralt,
.wrapper .halfitem.TypicalAlt,
.wrapper .halfitem.SuperiorAlt {
    color: black;
}


h2 {
    word-break: break-all;
}

.addDeleteTag {
    margin-top: 30px;
    margin-bottom: 50px;
    display: none;
}

.add-colorclass {
    margin-top: 30px;
    color: white;
}
.add-colorclass button {
    opacity: 0.7;
}


.wrapper .halfitem h3 {
    padding: 0px;
    margin: 0px;
    word-break: break-all;
}

.wrapper .halfitem img {
    display: block;
    width: 100%;
    height: 45vh;
    object-fit: cover;
    object-position: center;
    /*font-family: 'object-fit: cover';*/
    transition: transform .5s ease-in-out;
    overflow: hidden;
    position: relative;
    background-color: beige;
}

.wrapper .halfitem .caption {
    padding-left: 3vw;
    position: absolute;
    top: 45vh;
    width: calc(100%);
    padding-top: 4vh;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    z-index: 4;
}

.add-colorclass .none,
#portfolio-filter ul > li > a#none,
.wrapper .halfitem.None .caption {
    background-color: rgba(0, 0, 0, 0.3);
}

.add-colorclass .none.on,
#portfolio-filter ul > li > a#none.active {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    opacity: 1;
}

.add-colorclass .winner,
#portfolio-filter ul > li > a#winner,
.wrapper .halfitem.Winner .caption {
    background-color: rgba(255, 0, 255, 0.3);
}
.add-colorclass .winner.on,
#portfolio-filter ul > li > a#winner.active {
    background-color: rgba(255, 0, 255, 1);
    opacity: 1;
}

.add-colorclass .winneralt,
#portfolio-filter ul > li > a#winneralt,
.wrapper .halfitem.WinnerAlt .caption {
    background-color: rgba(255, 0, 2, 0.3);
}

.add-colorclass .winneralt.on,
#portfolio-filter ul > li > a#winneralt.active {
    background-color: rgba(255, 0, 2, 1);
    opacity: 1;
}

.add-colorclass .superior,
#portfolio-filter ul > li > a#superior {
    background-color: rgba(255, 127, 1, 0.6);
}

.add-colorclass .superior.on,
#portfolio-filter ul > li > a#superior.active {
    background-color: rgba(255, 127, 1, 1);
    opacity: 1;
}

.wrapper .halfitem.Superior .caption {
    background-color: rgba(255, 127, 1, 0.3);
}

.add-colorclass .superioralt.on,
#portfolio-filter ul > li > a#superioralt.active {
    color: #8447B2;
    background-color: rgba(255, 255, 83, 1);
    opacity: 1;
}

.add-colorclass .superioralt,
#portfolio-filter ul > li > a#superioralt,
.wrapper .halfitem.SuperiorAlt .caption {
    background-color: rgba(255, 255, 83, 0.3);
}

.add-colorclass .typical.on,
#portfolio-filter ul > li > a#typical.active {
    background-color: rgba(0, 255, 0, 1);
    color: #B23879;
    opacity: 1;
}

.add-colorclass .typical,
#portfolio-filter ul > li > a#typical,
.wrapper .halfitem.Typical .caption {
    background-color: rgba(0, 255, 0, 0.3);
}

.add-colorclass .typical.on,
#portfolio-filter ul > li > a#typicalalt.active {
    color: #B2582F;
    background-color: rgba(0, 255, 255, 1);
    opacity: 1;
}
#portfolio-filter ul > li > a#typicalalt,
.wrapper .halfitem.TypicalAlt .caption {
    background-color: rgba(0, 255, 255, 0.3);
}

.add-colorclass .extras.on,
#portfolio-filter ul > li > a#extras.active {
    background-color: rgba(0, 0, 255, 1);
    opacity: 1;
    color: white;
}
.add-colorclass .extras,
#portfolio-filter ul > li > a#extras,
.wrapper .halfitem.Extras .caption {
    background-color: rgba(0, 0, 255, 0.3);
}

.add-colorclass .trash.on,
#portfolio-filter ul > li > a#trash.active {
    background-color: rgba(150, 150, 100, 1);
    opacity: 1;
}
#portfolio-filter ul > li > a#trash,
.wrapper .halfitem.Trash .caption {
    background-color: rgba(150, 150, 100, 0.3);
}

#portfolio-filter ul > li > a.off {
    opacity: 0.65;
}


@media screen and (max-height: 300px) {
    .wrapper .halfitem .caption {
        top: 0vh;
        height: 60vh;
    }
}
.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-nav > li > a {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
@media screen and (max-width: 390px) {
    .navbar-nav > li > a {
        letter-spacing: -0.5px;
        margin-right: 15px;
    }
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}
#js-keywords-update {
    margin-top: 20px;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-family: "Gloriola Std", sans-serif;
}

.contenteditable {
    min-height: 30px;
    height: 100%; 
}

.btn.disabled,
.form-control.disabled{
    background-color: #ccc;
    pointer-events: none;
}



.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.navbar-header {
    float: left;
}
.navbar-nav > li {
    float: left;
}
.nav > li {
    display: inline-block;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-nav {
    padding-top: 10px;
}
@media screen and (max-width: 390px) {

    .form-nav .form-control {
        width: 40vw!important;
    }
    .form-nav {
        width: 100%!important;
    }
    .form-nav,
    .form-nav input {
        display: inline-block!important;
    }
}

.show {
    display: block !important;
}
.hide {
    display: none !important;
}

.form-wrapper {
    width: 100%;
    margin-bottom: 15px;
}

.form-wrapper .form-control{
    width: calc( 100% - 80px );
    display: inline-block;
}
.form-wrapper .btn {
    display: inline-block;
    float: right;
}

.caption h2 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 5px;
}


@media screen and (max-height: 550px) and (max-width: 950px) {
    .wrapper .halfitem .caption {
        top: 35vh;
        height: 25vh;
    }
    .wrapper .halfitem img {
        height: 35vh;
    }
}
.wrapper .halfitem .caption p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 40ch;
}

@media screen and (min-width: 200px) and (max-width: 950px) {
    .wrapper .halfitem .caption h2{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 23ch;
    }
    .wrapper .halfitem .caption p{
        max-width: 30ch;
    }
}





.nextprev {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}
.nextprev .next {
    display: inline-block;
    float: right;
}

.nextprev a {
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}



.breadcrumb {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.breadcrumb a {
    color: black;
}

.detailview.collapsed {
    max-width: calc( 100% - 300px);
 }
@media screen and (max-width: 600px) {
    .detailview.collapsed {
        max-width: 100%;
    }
}

.detailview .breadcrumb {
    margin-bottom: 15px;
}
.detailview .nextprev .next {
    padding-right: 15px;
}
.main-image {
    width: auto;
    max-height: 80vh;
    max-width: calc(100vw - 30px);
}

.main-image.collapsed {
    max-width: calc(100vw - 340px);
}

@media screen and (max-width: 800px) {
    .main-image.collapsed {
        max-width: 100vw;
    }
    .main-image {
        width: 100%;
        max-height: unset;
    }
}
.sidebar .content img {
    width: 250px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}
.sidebar {
    width: 300px;
    height: 100vh;
    top: 0px;
    right: 0px;
    position: fixed;
    transition: width 1.1s ease-in-out;
    background-color: #EBEBEB;
}

@media screen and (max-width: 600px) {
    .sidebar {
        height: initial;
        position: static;
    }
}


.sidebar .content {    
    padding: 15px;
    padding-left: 30px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    height: 100vh;
    width: 300px;
}
@media screen and (max-width: 600px) {
    .sidebar .content {
        height: initial;
        overflow-y:initial;
    }
}
.sidebar .content.collapsed {
    display: none;
}


.sidebar .close {
    width: 30px;
    display: block;
    margin-left: -30px;
    background-color: red;
    height: 50px;
    top: 0px;
    position: absolute;
}
@media screen and (max-width: 600px) {
    .sidebar .close {
        right: 0px;
        top: 0px;
        position: fixed;
    }
}
.sidebar .close.collapsed{
    margin-left: -30px;
}

footer {
    margin-top: 25px;
}