html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, picture {
    display: block; }

body {
    line-height: 1;
}

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

em, i {
    font-style: italic;
}

@font-face {
    font-family: 'Gloriola Std';
    font-style: normal;
    font-weight: 100;
    src: local("Gloriola Std Light"), local("Gloriola-Std-Light"), url(../fonts/GloriolaStd-Light.woff2) format("woff2"), url(../fonts/GloriolaStd-Light.woff) format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
    font-family: 'Gloriola Std';
    font-style: normal;
    font-weight: 300;
    src: local("Gloriola Std Medium"), local("Gloriola-Std-Medium"), url(../fonts/GloriolaStd-Medium.woff2) format("woff2"), url(../fonts/GloriolaStd-Medium.woff) format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
    font-family: 'Gloriola Std';
    font-style: normal;
    font-weight: 800;
    src: local("Gloriola Std Bold"), local("Gloriola-Std-Bold"), url(../fonts/GloriolaStd-Bold.woff2) format("woff2"), url(../fonts/GloriolaStd-Bold.woff) format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    font-family: 'Gloriola Std', sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    line-height: 1.1;
}

.preloader {
    position:fixed;
    left: calc( 50% - 50px );
    top: calc( 50% - 50px );

    display: block;
}
.preloader img {
    width: 100px;
    height: 100px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.wrapper {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-flow: row wrap;
}
#portfolio-filter {
    margin-bottom: 15px;
}
#portfolio-filter ul > li {
    display: inline-block;
    text-align: left;
}

.colorbutton,
.add-colorclass a,
#portfolio-filter ul > li > a {
    margin-right: 10px;
    border-radius: 3px;
    margin-bottom: 13px;
    padding-right: 10px;
    background-color: #b0bec5;
    text-decoration: none;
    color: black;
    transition: background 1.1s ease-in-out, color .5s ease-in-out;
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
}


#portfolio-filter ul > li a.reset{
    height: 40px;
    padding-left: 10px;
}

.colorbutton .checkbox,
#portfolio-data.wrapper .checkbox,
.add-colorclass .checkbox,
#portfolio-filter .checkbox {
    float: left;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    background-color: #ccc;
    background-color: rgba(137,135,123,0.3);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    margin-top: 8px;
    margin-right: 10px;
}
.colorbutton.small{
    background-color: #d9d9d9;
    line-height: 30px;
}
.colorbutton.small .checkbox{
    margin-top: 5px;
}



#portfolio-data.wrapper .checkbox{
    display: none;
    float: none;
    margin: 0;
}

.collapsed #portfolio-data.wrapper .directory-false .checkbox {
    display: inline-block;
}

/* this is not a checkbox */
.add-colorclass .on .checkbox {
    background-image: url("../images/roundbox.svg");
}

/* selecting multiple files */
.colorbutton.on .checkbox,
.collapsed #portfolio-data.wrapper .on.directory-false .checkbox,
#portfolio-filter .active .checkbox{
    background-image: url("../images/checkbox.svg");
}



.wrapper .halfitem {
    padding: 0px;
    margin: 0px;
    width: 50%;
    height: 60vh;
    display: block;
    background-color: #ccc;
    position: relative;
    transform-origin: center center;
    /*transition: all 1.5s ease-in-out;*/
}

.collapsed .halfitem {
    
}
@media screen and (max-width: 767px) {
    .wrapper .halfitem {
        width: 100%;
    }
}

.wrapper .halfitem {
    color: white;
}


.add-colorclass .superioralt,
.wrapper .halfitem.TypicalAlt,
.wrapper .halfitem.SuperiorAlt {
    color: black;
}


h2 {
    word-break: break-all;
}

.addDeleteTag {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(255, 0, 2, 0.1);
}
.addDeleteTag.fileIsDeleted {
    background-color: #FFF6DB;
}


.addDeleteTag.disabled {
    background-color: #cccccc;
}
.addDeleteTag a{
    margin-top: 15px;
}
.addDeleteTag.disabled .delete {
    pointer-events: none;
    background-color: #cccccc;
}

.add-colorclass {
    margin-top: 15px;
    color: white;
}
.rotation-sidebar a,
.rotation-sidebar,
.download-sidebar a,
.download-sidebar{
    margin-top: 10px;
}

.add-colorclass button {
    opacity: 0.7;
}


.wrapper .halfitem h3 {
    padding: 0px;
    margin: 0px;
    word-break: break-all;
}

.wrapper .halfitem img {
    display: block;
    width: 100%;
    height: 45vh;
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover';
    transition: transform .5s ease-in-out;
    overflow: hidden;
    position: relative;
    /*background-color: beige;*/
    background-color: rgba(109, 199, 256, 0.6);
}
.wrapper .halfitem.directory-true img {
    opacity: 0.4;
}
.wrapper .halfitem .filter {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 47vw;
    height: 45vh;
}

.collapsed .wrapper .halfitem .filter {
    width: calc(47vw - 150px);
}

@media screen and (max-height: 550px) and (max-width: 950px) {
    .collapsed .wrapper .halfitem .filter,
    .wrapper .halfitem .filter {
        width: 85vw;
    }
}
.wrapper .halfitem.directory-true .filter {
    background: linear-gradient(to right bottom, rgb(65,115,135) 50%, transparent 50%);
}



.wrapper .halfitem .caption {
    padding-left: 3vw;
    position: absolute;
    top: 45vh;
    width: calc(100%);
    padding-top: 4vh;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    /*z-index: 4;*/
}
.wrapper .halfitem.None.directory-true .caption {
    /*// beige*/
    background-color: rgba(109, 199, 256, 0.5);
}

.add-colorclass .winner,
.add-colorclass .colorclass-1,
#portfolio-filter ul > li > a#colorclass-1,
.wrapper .halfitem.Winner .caption {
    background-color: rgba(255, 0, 255, 0.3);
}

.nextprev .colorclass-1.on,
.add-colorclass .winner.on,
.add-colorclass .colorclass-1 .on,
#portfolio-filter ul > li > a#colorclass-1.active {
    background-color: rgba(255, 0, 255, 1);
    opacity: 1;
}

.add-colorclass .winneralt,
.add-colorclass .colorclass-2,
#portfolio-filter ul > li > a#colorclass-2,
.wrapper .halfitem.WinnerAlt .caption {
    background-color: rgba(255, 0, 2, 0.3);
}

.nextprev .colorclass-2.on,
.add-colorclass .winneralt.on,
.add-colorclass .colorclass-2.on,
#portfolio-filter ul > li > a#colorclass-2.active {
    background-color: rgba(255, 0, 2, 1);
    opacity: 1;
}

.add-colorclass .superior,
.add-colorclass .colorclass-3,
#portfolio-filter ul > li > a#colorclass-3 {
    background-color: rgba(255, 127, 1, 0.6);
}

.nextprev .colorclass-3.on,
.add-colorclass .superior.on,
.add-colorclass .colorclass-3.on,
#portfolio-filter ul > li > a#colorclass-3.active {
    background-color: rgba(255, 127, 1, 1);
    opacity: 1;
}

.wrapper .halfitem.Superior .caption {
    background-color: rgba(255, 127, 1, 0.3);
}

.nextprev .colorclass-4.on,
.add-colorclass .superioralt.on,
.add-colorclass .colorclass-4.on,
#portfolio-filter ul > li > a#colorclass-4.active {
    color: #8447B2;
    background-color: rgba(255, 255, 83, 1);
    opacity: 1;
}

.add-colorclass .colorclass-4,
.add-colorclass .superioralt,
#portfolio-filter ul > li > a#colorclass-4,
.wrapper .halfitem.SuperiorAlt .caption {
    background-color: rgba(255, 255, 83, 0.3);
}

.nextprev .colorclass-5.on,
.add-colorclass .colorclass-5.on,
.add-colorclass .typical.on,
#portfolio-filter ul > li > a#colorclass-5.active {
    background-color: rgba(0, 255, 0, 1);
    color: #B23879;
    opacity: 1;
}

.add-colorclass .colorclass-5,
.add-colorclass .typical,
#portfolio-filter ul > li > a#colorclass-5,
.wrapper .halfitem.Typical .caption {
    background-color: rgba(0, 255, 0, 0.3);
}

.nextprev .colorclass-6.on,
.add-colorclass .colorclass-6.on,
.add-colorclass .typical.on,
#portfolio-filter ul > li > a#colorclass-6.active {
    color: #B2582F;
    background-color: rgba(0, 255, 255, 1);
    opacity: 1;
}

.add-colorclass .colorclass-6,
#portfolio-filter ul > li > a#colorclass-6,
.wrapper .halfitem.TypicalAlt .caption {
    background-color: rgba(0, 255, 255, 0.3);
}

.nextprev .colorclass-7.on,
.add-colorclass .colorclass-7.on,
.add-colorclass .extras.on,
#portfolio-filter ul > li > a#colorclass-7.active {
    background-color: rgba(0, 0, 255, 1);
    opacity: 1;
    color: white;
}

.add-colorclass .colorclass-7,
.add-colorclass .extras,
#portfolio-filter ul > li > a#colorclass-7,
.wrapper .halfitem.Extras .caption {
    background-color: rgba(0, 0, 255, 0.3);
}

.nextprev .colorclass-8.on,
.add-colorclass .colorclass-8.on,
.add-colorclass .trash.on,
#portfolio-filter ul > li > a#colorclass-8.active {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 1;
}

.add-colorclass .colorclass-8,
#portfolio-filter ul > li > a#colorclass-8,
.wrapper .halfitem.Trash .caption {
    background-color: rgba(0, 0, 0, 0.25);
}

#portfolio-filter ul > li > a.off {
    opacity: 0.65;
}


.add-colorclass .none,
.add-colorclass .colorclass-0,
#portfolio-filter ul > li > a#colorclass-0,
.wrapper .halfitem.None .caption {
    background-color: rgba(150, 150, 100, 0.3);

}

.nextprev .colorclass-0.on,
.add-colorclass .none.on,
.add-colorclass .colorclass-0.on,
#portfolio-filter ul > li > a#colorclass-0.active {
    background-color: rgba(150, 150, 100, 1);
    color: white;
    opacity: 1;
}


@media screen and (max-height: 300px) {
    .wrapper .halfitem .caption {
        top: 0vh;
        height: 60vh;
    }
}
.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-nav > li > a {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
@media screen and (max-width: 390px) {
    .navbar-nav > li > a {
        letter-spacing: -0.5px;
        margin-right: 15px;
    }
}
/*.navbar-fixed-top {*/
    /*top: 0;*/
    /*border-width: 0 0 1px;*/
    /*position: fixed;*/
    /*right: 0;*/
    /*left: 0;*/
    /*z-index: 1030;*/
/*}*/

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

.navbar-gray {
    background-color: #888;
    border-color: #888;
}

#js-keywords-update {
    margin-top: 15px;
}

#js-captionabstract-update p,
#js-keywords-update p {
    margin-bottom: 3px;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-family: "Gloriola Std", sans-serif;
}

.contenteditable {
    min-height: 30px;
    height: 100%;
}

.btn.disabled,
.form-control.disabled{
    background-color: #ccc;
    pointer-events: none;
}



.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-info {
    color: #007bff;
    background-color: #EBEBEB;
}
.btn-secondary {
    text-decoration: none;
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}
.navbar-header {
    float: left;
}
.navbar-nav > li {
    float: left;
}
.nav > li {
    display: inline-block;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-nav {
    padding-top: 10px;
}
@media screen and (max-width: 390px) {

    .form-nav .form-control {
        width: 40vw!important;
    }
    .form-nav {
        width: 100%!important;
    }
    .form-nav,
    .form-nav input {
        display: inline-block!important;
    }
}

.show {
    display: block !important;
}
.hide {
    display: none !important;
}

.form-wrapper {
    width: 100%;
    margin-bottom: 15px;
}

.form-wrapper .form-control.space,
.form-wrapper .form-control{
    width: calc( 100% - 80px );
    display: inline-block;
}
.form-wrapper .form-control.space{
    width: calc( 100% - 100px );
}

.form-wrapper .btn {
    display: inline-block;
    float: right;
}

.caption h2 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 5px;
}

.wrapper .halfitem .caption a {
    color: white;
}

@media screen and (max-height: 550px) and (max-width: 950px) {
    .wrapper .halfitem .caption {
        top: 35vh;
        height: 25vh;
    }
    .wrapper .halfitem .filter,
    .wrapper .halfitem img {
        height: 35vh;
    }
}
.wrapper .halfitem .caption p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 40ch;
    margin-bottom: 4px;
}

@media screen and (min-width: 200px) and (max-width: 950px) {
    .wrapper .halfitem .caption h2{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 23ch;
    }
    .wrapper .halfitem .caption p{
        max-width: 30ch;
    }
}





.nextprev {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    min-height: 10px;
}
.nextprev .prev {
float: left;
}

.nextprev .next {
    display: inline-block;
    float: right;
}

.nextprev a {
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}
@media screen and (min-width: 400px) and (max-width: 600px) {
    .nextprev a {
        max-width: 17ch;
    }
}
@media screen and (max-width: 400px) {
    .nextprev a {
        max-width: 14ch;
    }
}
.js-filterinfo {
    margin-left: 40px;
}
@media screen and (max-width: 600px) {
    .js-filterinfo {
        width: 100px;
        display: inline-block;
    }
}

.nextprev .sqbox {
    width: 12px;
    height: 12px;
    display: inline-block;
}

.breadcrumb {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    word-break: break-all;
}
.breadcrumb a {
    color: black;
}
.breadcrumb .red {
    color: red;
}

.breadcrumb.nothumbnail::after {
    display: inline-block;
    background-image: url("data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAQEBAQFBAUGBgUHCAcIBwoKCQkKChALDAsMCxAYDxEPDxEPGBUZFRMVGRUmHhoaHiYsJSMlLDUvLzVDP0NXV3UBBAQEBAUEBQYGBQcIBwgHCgoJCQoKEAsMCwwLEBgPEQ8PEQ8YFRkVExUZFSYeGhoeJiwlIyUsNS8vNUM/Q1dXdf/CABEIABIAEAMBIgACEQEDEQH/xAAXAAEAAwAAAAAAAAAAAAAAAAAGBQcI/9oACAEBAAAAANbQ4l1QKb//xAAVAQEBAAAAAAAAAAAAAAAAAAACBf/aAAgBAhAAAABQv//EABUBAQEAAAAAAAAAAAAAAAAAAAMF/9oACAEDEAAAAJwf/8QAJRAAAgIBAwMEAwAAAAAAAAAAAQIDBAUAESIGEyEVFjJBB1Fh/9oACAEBAAE/AMDicRNiack8WPVjWj+ccZckqOTbjfSW7+Ge/aq4tjEJRNuk6RwmFY0Eg7O/y4kggb6yvVvp1arWrxq84q1yS3lVBT9D71hJm9r+sZavFyhmaOseInCqSNw/0wBO3nj5102BY6lwyTDuI9+srq/IMpcAgg6/KU8/vrKDvPtGsKJyPFTEDsP5udf/xAAdEQABBAIDAAAAAAAAAAAAAAABAgMEEQAhMnOx/9oACAECAQE/ABNgOPrjpcJcSLNJ0CNVeN8ne5Huf//EAB8RAQAABAcAAAAAAAAAAAAAAAIAAwQREiExQ1Fzsf/aAAgBAwEBPwCVWh1KlHNG+LjWBu9p9j//2Q==");
    width: 16px;
    height: 16px;
    background-size: cover;
    content: "";
}

.archive.collapsed,
.detailview.collapsed {
    max-width: calc( 100% - 300px);
}
@media screen and (max-width: 600px) {
    .archive.collapsed,
    .detailview.collapsed {
        max-width: 100%;
    }
}


.detailview .breadcrumb {
    margin-bottom: 15px;
}
.detailview .nextprev .next {
    padding-right: 15px;
}

.main-image {
    width: auto;
    max-height: 80vh;
    max-width: calc(100vw - 30px);
}
.main-image.contentloaded {
    transition: max-width 0.5s ease-in-out;
}

/* Sorry for firefox and mobile safari only */
/*disabled-*/

.sidebar .content img.Rotate90Cw,
.main-image.Rotate90Cw {
    image-orientation: 90deg;
}
.sidebar .content img.Rotate180,
.main-image.Rotate180 {
    image-orientation: 180deg;
}

.sidebar .content img.Rotate270Cw,
.main-image.Rotate270Cw {
    image-orientation: 270deg;
}

.sidebar .content img.Rotate90Cw,
.sidebar .content img.Rotate180,
.sidebar .content img.Rotate270Cw {
    background-color: rgba(109, 199, 256, 0.1);
}


.main-image.collapsed {
    max-width: calc(100vw - 340px);
}

@media screen and (max-width: 800px) {
    .main-image.collapsed {
        max-width: 100vw;
    }
    .main-image {
        width: 100%;
        max-height: unset;
    }
}
.sidebar .content img {
    width: 250px;
    height: 100px;
    object-fit: contain;
    object-position: center;
    background-color: #ddd;
    font-family: "object-fit: cover";
}
.sidebar {
    width: 300px;
    height: 100vh;
    top: 0px;
    right: 0px;
    position: fixed;
    background-color: #EBEBEB;
    z-index: 500;
}

.sidebar.enabled {
    transition: width 1.1s ease-in-out;
}

@media screen and (max-width: 600px) {
    .sidebar {
        height: initial;
        position: static;
        width: 100%;
        transition:none;
    }
}


.sidebar .content {
    padding: 15px;
    padding-left: 30px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    height: 100vh;
    width: 300px;
}

.sidebar .content div:last-child {
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    .sidebar .content {
        height: initial;
        overflow-y:initial;
        width: 90vw;
        padding: 12px;
    }
}
.sidebar .content.collapsed {
    display: none;
}


.sidebar > .close {
    width: 40px;
    display: block;
    margin-left: -40px;
    background-color: rgba(109, 199, 256, 0.7); /*red*/
    height: 50px;
    top: 0px;
    position: absolute;
    background-image: url("../images/arrow-toright-white.svg");
    background-size: cover;
}
@media screen and (max-width: 600px) {
    .sidebar > .close {
        right: 0px;
        top: 0px;
        position: fixed;
        z-index: 500;
    }
}
.sidebar .close.collapsed{
    margin-left: -40px;
    background-image: url("../images/arrow-toleft-white.svg");
}

footer {
    margin-top: 25px;
}

/* if in readonly mode */
.sidebar.readonly .add-colorclass a{
    display: none;
}

.sidebar.noclick .add-colorclass a,
.sidebar.readonly-true .add-colorclass,
.sidebar.readonly .add-colorclass a.on{
    display: inline-block;
    pointer-events: none;
}

.sidebar.readonly-true .add-colorclass a,
.sidebar.noclick .add-colorclass a {
    opacity: 0.5;
}













.paginationbase {
    position: relative;
    height: 40px;
    margin-top: 30px; 
    margin-bottom: 30px; 
    width: 300px;
    position: relative;
    left: calc(50% - 150px);
    font-size: 30px; 
    display: inline-block;
}
.paginationbase .numberbox {
    position: absolute; 
    left: 21px; 
    width: 260px; 
    text-align: center;
}
.paginationbase .box,
.paginationbase a {
    display: inline-block; 
    width: 40px; 
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: -4px;
    text-decoration: none;
    color: black;
}
.paginationbase a.current {
    background-color: black;
    color: white;
}

.paginationbase .leftarrow,
.paginationbase .rightarrow,
.paginationbase .box {
    width: 20px;

}
.paginationbase .leftarrow{
    position: absolute;
    left: 0px; 
}
.paginationbase .rightarrow {
    float: right;
}
.removecache { 
    text-decoration: none;
    cursor:text;
}


.js-selectedimages li:nth-child(2n-1) {
    background-color: #DFEAEB;
}
.js-selectedimages li .close {
    display: inline-block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    opacity: 0.5;
    position: relative;
}
.js-selectedimages li .close:before, .js-selectedimages li .close:after {
    position: absolute;
    margin-top: 4px;
    left: 13px;
    content: ' ';
    height: 28px;
    width: 2px;
    background-color: #333;
}
.js-selectedimages li .close:hover {
    opacity: 1;
}
.js-selectedimages li .close:before {
    transform: rotate(45deg);
}
.js-selectedimages li .close:after {
    transform: rotate(-45deg);
}

.js-selectedimages li:first-child {
    margin-top: 10px;
}
.js-selectedimages li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 23ch;
    line-height: 30px;
}

.js-controls {
    margin-top: 15px;
}
.js-controls.hidden {
    display: none;
}

.js-selectallnone {
    margin-top: 15px;
    padding-left: 10px;
}


.issingleitem div{
    margin-top: 10px;
    margin-bottom: 0px!important;
}

/*// for warning delete*/
div#popup .content
{
    position:absolute;
    display:none;
    top:200px;
    top: calc(50vh - 50px);

    left:50%;
    width:300px;
    margin-left:-150px;
    padding:20px;
    background-color:white;
}
div#popup .content p {
    margin-bottom: 10px;
}

div#popup {
    z-index: 501;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

div#popup.on .content,
div#popup.on {
    display: block;
}

