<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Starsky</title>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Starsky</a></li>
                    <li>
                        <form asp-controller="Search" asp-action="Index" method="post" class="form-inline form-nav">
                              <input name="t" class="form-control" value="@ViewData["SearchQuery"]" autocomplete="off"/>
                            <button class="btn btn-default" type="submit">Zoek</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
@*        <footer>*@
@*            <p>&copy; 2018 - Starsky</p>*@
@*        </footer>*@
    </div>

@*    <script src="~/lib/jquery/dist/jquery.js"></script>*@
@*    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

<script src="~/js/lazyload.js"></script>
<script type="text/javascript">
    lazyload();
</script>


@RenderSection("Scripts", required: false)
</body>
</html>
