@font-face {
  font-family: 'Gloriola Std';
  font-style: normal;
  font-weight: 100;
  src: local("Gloriola Std Light"), local("Gloriola-Std-Light"), url("GloriolaStd-Light.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Gloriola Std';
  font-style: normal;
  font-weight: 300;
  src: local("Gloriola Std Medium"), local("Gloriola-Std-Medium"), url("GloriolaStd-Medium.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* CONTAINER */
body {
  margin-top: 30px;
  font-family: "Gloriola Std", sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.container {
  width: 960px;
  margin: 0px auto 0px auto;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .container {
    width: 96%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

a{
  color: #000;
}