<h4 class="nextprev">
	&nbsp;
</h4>
<h1 class="breadcrumb">
	<a asp-controller="Home" asp-action="Index">Home</a>
	<span> &raquo;</span>
	<a asp-controller="v1" asp-action="Import">Importeren</a>
</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Import" asp-action="IndexPost">
    <div class="form-group">
        <div class="col-md-10">
            <p>Voeg de foto's toe aan het archief, de fotos worden automatisch geplaatst in de map op basis van de datum</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>
