/* HTML RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, picture {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

em, i {
  font-style: italic; }

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; }

  /* HEADER */
  /* MENU */

.head {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #263238;
    z-index: 10;
    transition: background .5s ease-in-out;
}

.head .logo {
  background-image: url("data:image/svg+xml;data:image/svg+xml,%3Csvg%20height%3D%22234%22%20viewBox%3D%220%200%20623%20234%22%20width%3D%22623%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m97.6191%20159.8921%208.337%209.292s21.478%2024.302%2029.077%2030.817c0%200%2018.231%2017.523%2027.924%2022.55-4.048-4.113-4.453-4.87-4.453-4.87s5.918%204.951%2012.368%207.197c-12.946-8.284-20.21-15.664-19.431-15.918%200%200%207.513%209.72%2020.612%2013.893-18.919-14.213-33.021-28.953-33.021-28.953-6.775-5.107-26.664-30.705-26.664-30.705-3.454-4.203-7.765-8.675-7.765-8.675l-1.279-.656c-5.606-5-12.882-10.713-17.572-13.238%203.986%204.174%205.758%205.814%205.758%205.814s-7.686-7.236-9.908-6.853c0%200-7.174.278-4.741%201.933%207.225%205.018%2011.797%207.134%2019.904%2017.262z%22%2F%3E%3Cpath%20d%3D%22m118.7432%20153.6606s4.617%203.889%208.07%208.092l2.525%202.193s4.039%204.188%207.49%208.391c0%200%2022.593%2026.341%2029.366%2031.45%200%200%204.855%204.515%2033.316%2027.763-13.099-4.172-23.608-13.448-23.608-13.448-.78.254%206.485%207.634%2019.43%2015.918-6.45-2.246-12.367-7.197-12.367-7.197s.404.757%204.452%204.868c-9.694-5.027-27.924-22.55-27.924-22.55-7.599-6.515-29.077-30.815-29.077-30.815l-8.501-9.352-12.339-12.41s-4.907-4.816-36.161-29.652c-.355-.283%203.413%201.539%2011.616%207.013-10.34-7.837-12.443-9.338-12.814-9.63%200%200-1.122-.697-.057-1.304%201.068-.61%201.497-.903%201.497-.903s.832-.798%202.153-.217c3.891%201.567%207.914%203.819%207.914%203.819%2011.491%205.935%2033.382%2025.987%2033.382%2025.987%22%2F%3E%3Cpath%20d%3D%22m259.7207%2096.894c6.509%2023.658%209.368%2041.5%209.368%2041.5%201.746%208.534%201.028%2018.104-2.604%2027.374-8.724%2022.255-30.95%2034.365-49.641%2027.039-18.692-7.329-26.773-31.313-18.05-53.572%205.334-13.606%2016.914-25.519%2028.444-29.437%2019.301-6.147%2032.212-5.743%2056.814%202.367%200%200%201.533.545%202.858-1.109.871-1.127.69-1.075%201.095-2.517.92-3.303-1.456-3.718-1.456-3.718-39.601-11.262-61.837-1.569-61.837-1.569-13.915%204.701-26.438%2016.539-32.873%2032.956-10.524%2026.849-.776%2055.777%2021.77%2064.613%2022.546%208.838%2049.354-5.765%2059.878-32.614%204.381-11.179%205.248-22.719%203.14-33.018%200%200-3.293-16.385-9.679-37.665l-.056-.299c-3.407-20.634-5.081-53.669%205.155-96.685-1.352-1.689-8.565%2029.127-9.635%2029.153-1.813.045%202.907-29.693%202.907-29.693s-14.022%2044.673-5.681%2096.673%22%2F%3E%3Cpath%20d%3D%22m251.0757%20104.1557c6.045%2018.861%209.004%2037.978%209.004%2037.978%201.333%206.494.086%2014.565-2.683%2021.631-6.645%2016.95-21.18%2024.382-35.415%2018.797-14.243-5.58-20.394-25.424-13.749-42.38%204.064-10.359%208.652-18.341%2022.562-24.882%200%200%2024.69-6.566%2050.433%203.847%200%200%204.254%201.796%205.048-.419%200%200%20.782-1.065.71-2.826-.053-1.305-.591-2.122-2.131-2.613-32.157-14.932-56.913-3.591-56.913-3.591-11.481%204.574-21.242%2015.07-26.14%2027.566-8.018%2020.46-.305%2046.412%2016.872%2053.149%2017.173%206.725%2037.6-4.399%2045.615-24.849%203.338-8.52%203.665-17.254%202.391-25.153-.537-3.328-8.409-34.859-8.409-34.859l-.612-2.995c-3.865-19.992-7.152-53.619%204.084-100.837-5.418%207.09-11.296%2048.085-11.296%2048.085s2.102-37.703%204.567-48.624c0%200-14.197%2047.985-3.91%20102.182z%22%2F%3E%3Cpath%20d%3D%22m452.7227%20101.2866c4.185%2023.794%204.555%2041.415%204.555%2041.415.917%208.525-.678%2017.843-5.096%2026.593-10.619%2021.003-33.532%2030.809-51.176%2021.895-17.641-8.923-23.334-33.185-12.717-54.195%206.495-12.843%2018.955-23.441%2030.619-26.213%2019.493-4.234%2032.111-2.64%2055.474%207.596%200%200%201.45.679%202.903-.821.959-1.026.776-.989%201.307-2.365%201.209-3.154-1.084-3.782-1.084-3.782-37.771-14.72-60.47-7.281-60.47-7.281-14.076%203.316-27.453%2013.759-35.286%2029.254-12.809%2025.342-5.94%2054.604%2015.342%2065.362%2021.279%2010.757%2048.914-1.068%2061.726-26.41%205.333-10.553%207.256-21.782%206.144-32.076%200%200-2.051-16.585-6.336-38.038l-1.263-6.698s-2.001%202.89-1.667%205.029c.334%202.138-.003-2.446-2.208-2.946s-1.625.084-1.625.084z%22%2F%3E%3Cpath%20d%3D%22m446.0303%20106.5942c4.178%2019.054%202.068%2038.937%202.068%2038.937.703%206.49-1.269%2014.285-4.638%2020.954-8.088%2015.998-23.029%2021.933-36.464%2015.135-13.444-6.792-19.94-25.469-11.851-41.475%204.947-9.777%2011.113-17.382%2025.357-22.499%200%200%2023.375-6.927%2047.641%205.671%200%200%204.007%202.156%204.989.058%200%200%20.867-.969.959-2.701.069-1.285-.382-2.136-1.848-2.763-30.901-14.36-54.018-6.022-54.018-6.022-11.68%203.416-23.149%2013.006-29.113%2024.8-9.759%2019.31-2.302%2044.121%2013.911%2052.32%2016.211%208.189%2037.269-.817%2047.027-20.12%204.061-8.045%205.196-16.575%204.677-24.437-.216-3.312-1.773-35.823-1.773-35.823l-.407-8.078-.893-3.775-1.79%203.775-2.5-3.07-.5%203.75-2.375-2.313z%22%2F%3E%3Cpath%20d%3D%22m321.8916%20205.8432c-1.307-20.666.127-57.71.127-57.71.025-7.355%202.257-15.16%206.836-22.24%2010.998-16.985%2031.379-23.342%2045.519-14.19%201.499.972%202.869%202.078%204.105%203.301%200%200%201.082%201.477%202.707-.148l2.473-2.473s1.459-1.047-.091-2.597c-1.551-1.55-3.266-2.959-5.158-4.184-17.055-11.04-41.635-3.378-54.903%2017.115-5.525%208.535-8.217%2017.947-8.244%2026.824%200%200-.246%2036.107%201.367%2054.782%22%2F%3E%3Cpath%20d%3D%22m373.8096%20119.9458c-.945-.945-2.041-1.77-3.219-2.532-10.767-6.977-28.41-.797-36.787%2012.141-3.49%205.393-5.898%2011.871-5.916%2017.469%200%200-2.189%2041.026-.441%2057.646-2.787-.286-5.504-.354-5.504-.354s.086-54.108.215-56.956c.304-6.75%202.07-13.928%206.279-20.435%2010.107-15.609%2033.23-23.872%2046.225-15.466%201.509.977%202.875%202.104%204.093%203.358%200%200%201.668%201.332-.425%203.426l-1.565%201.564s-1.508%201.587-2.955.139%22%2F%3E%3Cpath%20d%3D%22m273.1274%20178.2573c5.08%205.67%2017.88%2020.019%2020.504%2023.737.782%201.11%202.285%203.055%203.986%201.73.129-.069-.635-1.366-1.67-3.038-.408-.661-11.878-12.283-12.333-13.008-.367-.586%2014.635%2013.247%2014.283%2012.682-1.272-2.041-9.832-12.626-9.681-12.72.373-.234%2011.829%2014.422%2012.152%2014.156%201.104-.909%201.185-1.466.296-2.669-.411-.683-11.807-13.341-12.614-14.474-2.575-3.615-6.694-8.277-11.824-13.665-.413-.434-1.411-.242-1.578.489-.317%201.383-1.237%202.71-1.853%204.217-.212.52-.006%202.184.332%202.563%22%2F%3E%3Cpath%20d%3D%22m272.4277%20177.9507c5.173%205.15%207.101%207.413%209.661%2010.633.72.905-.432-.63.141.208.401.487%2010.738%2012.18%2011.99%2014.277.95%201.592-11.732-11.744-12.35-12.207-.17-.128%201.382%202.086%203.146%204.592.15.215-3.877-3.649-3.724-3.433.22.312%204.62%204.704%204.84%205.017%201.947%202.768%203.773%205.378%203.518%205.173-3.633-2.918-5.093-3.413-5.263-3.274-.422.345%206.704%207.126%206.073%207.466-.687.553-1.385.502-2.88-1.197-1.832-2.085-11.425-13.207-11.886-13.792-1.164-1.476-5.202-5.485-7.226-7.963-.367-.45-.439-1.473.171-2.092.609-.618%201.143-1.349%202.089-2.845.254-.467%201.384-.878%201.7-.563%22%2F%3E%3Cpath%20d%3D%22m459.3135%20176.6802c.474%207.506.547%2021.043.11%2026.472-.105%201.332-.195%203.749%201.928%203.821%202.202.452%205.065.769%205.201-1.558.156-.997.174-8.185.258-9.328.464-6.086-.157-16.731-1.059-27.238l-.608-8.051s-.999%206.855-5.83%2015.882%22%2F%3E%3Cpath%20d%3D%22m456.2246%20180.8393c.521%208.188.499%2011.807.258%2016.097-.064%201.139.097-.745-.032.246-.045%201.09.077%209.317-2.552%209.053-1.385-.126-1.661-.017-2.731-.272-.866-.043-1.689-1.108-1.675-3.334.018-2.733.39-7.069.434-7.803.132-2.181.043-2.941.445-5.373%200%200%204.071-4.461%205.853-8.614%22%2F%3E%3Cpath%20d%3D%22m482.3955%2089.8559s37.666%2047.5%2044.687%20110.647c.069%203.384%203.354%202.912%203.354%202.912s1.857-.143%203.218-3.958c1.361-3.816%2017.441-56.225%2017.441-56.225l27.485%2054.087%201.97%203.881s1.568%204.114%202.389-.136c.17-1.177.452-2.675.725-4.395%202.692-16.988%2027.719-95.378%2038.7-116.801-1.755%202.295-7.97%203.349-15.505%2024.988%200%200-.45-3.837%208.655-25.639-14.083%2023.313-31.12%2083.139-31.12%2083.139s-4.109%2015.658-5.362%2020.345c-.558%204.005-1.737.223-1.737.223l-26.81-50.245s-13.423%2031-17.79%2050.453c-.635%202.599-.885%201.974-1.185.139-2.943-12.26-7.521-32.29-11.896-43.54-8-21.125-32.33-55.066-32.33-55.066s-1.05-1.33-2.379%200l-1.665%201.665s-2.44%202.542-.845%203.526%22%2F%3E%3Cpath%20d%3D%22m326.2705%2098.6196s-.607%2011.885-2.309%2011.922c-.777.017-1.341-5.074-2.238-5.074%201.35%2019.125.385%2019.83.385%2019.83s-.317-.513%204.154-5.329c1.229-3.248.008-21.349.008-21.349%22%2F%3E%3Cpath%20d%3D%22m321.6709%20102.5796c-1.189-6.979-1.704%203.567-3.455%203.037-2.024-.613-1.988-13.095-3.334-8.487%201.348%2027.562.217%2051.098.217%2051.098s.365-12.999%207.281-23.496c.195-8.157.109-16.596-.709-22.152%22%2F%3E%3Cpath%20d%3D%22m601.0762%2080.3579c-7.637%2014.31-23.49%2051.677-27.401%2073.061-.615%203.562-1.247%201.363-1.87.038-10.878-22.291-23.587-35.927-23.587-35.927s-13.235%2021.676-17.808%2034.668c-.67%201.787-.67%201.787-1.171.058-5.707-40.688-33.749-68.242-33.749-68.242s-.24-.31-1.312-.433c-1.073-.123-2.507%201.204-3.445%201.891-.25.197-1.224.393-.119%201.634%2014.877%2021.468%2020.5%2028.625%2030.158%2052.114%205.375%2014.016%207.005%2024.167%207.842%2029.136.594%204%201.875-.25%201.875-.25l18.123-40.649%2025.196%2039.548s1.315%203.601%202.026-.218c4.661-27.821%2024.025-70.159%2031.025-86.919%200%200-9.885%2014.721-14.385%2027.596-5.625%209.125%208.602-27.106%208.602-27.106%22%2F%3E%3Cpath%20d%3D%22m129.5225%2038.7641c-12.456-6.909-26.749-10.835-41.945-10.835-48.368%200-87.577%2039.783-87.577%2088.856%200%2049.075%2039.209%2088.858%2087.577%2088.858s87.577-39.783%2087.577-88.858c0-26.004-11.009-49.4-28.558-65.65l-11.253-8.677s18.325%2018.24%2024.804%2030.447c-17.029-19.157-31.282-23.287-31.282-23.287l10.621%208.316c15.435%2014.292%2025.118%2034.87%2025.118%2057.741%200%2043.163-34.486%2078.152-77.027%2078.152s-77.027-34.989-77.027-78.152c0-43.162%2034.486-78.151%2077.027-78.151%2013.365%200%2025.936%203.453%2036.892%209.529%200%200-10.652-9.456-38.046-12.085%2019.991-1.502%2043.099%203.796%2043.099%203.796%22%2F%3E%3Cpath%20d%3D%22m119.2007%2052.8696c-9.733-5.575-20.902-8.745-32.777-8.745-37.796%200-68.436%2032.111-68.436%2071.722%200%2039.61%2030.64%2071.721%2068.436%2071.721%2037.797%200%2068.436-32.111%2068.436-71.721%200-20.99-8.603-39.873-22.316-52.99%200%200%209.464%2013.053%2012.24%2021.504-6.941-8.169-17.796-16.017-17.796-16.017%2012.062%2011.536%2019.628%2028.145%2019.628%2046.606%200%2034.839-26.949%2063.082-60.192%2063.082s-60.191-28.243-60.191-63.082c0-34.838%2026.948-63.08%2060.191-63.08%2010.445%200%2020.268%202.786%2028.829%207.69%200%200%208.629%205.098%2011.432%208.445%200%200-4.529-11.391-30.072-18.293%2011.106%200%2022.588%203.158%2022.588%203.158%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  padding: 20px 0px 0px 10px;
  font-size: 17px;
  color: white;
  display: inline-block;
  text-decoration: none;
  width: 80px;
  margin-left: 3vw;
  height: calc(64px - 20px);
  text-indent: -999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: background .5s ease-in-out;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .head .logo {
        background-image: url("../images/logo.svg");
    }
}

.head .hamburger {
  display: none;
}

#menu ul {
  position: relative;
  float: right;
}

#menu li {
  float: left;
  height: calc(64px - 20px);
  transition: height 1s;
}

#menu li a {
  height: 46px;
  padding: 18px 11px 0px 11px;
  margin-left: 15px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 17px;
  transition: background .8s ease-in-out;
}



#menu .moveaway {
  transform: translate(0px, -120%);
  transition: transform 500ms ease-in-out;
}

#menu .moveto {
  transform: translate(0px, 0%);
  transition: transform 500ms ease-in-out;
}

#menu li:last-child {
  margin-right: 50px;
}

#menu li a:hover {
  background: #37474f;
  transition: background .5s ease-in-out;
}

#menu .active a {
  background-color: red;
  background: #37474f;
}

@media screen and (max-width: 670px) {
    .head .close,
    .head .hamburger {
        background-image: url("data:image/svg+xml,%3Csvg%20height%3D%2221%22%20viewBox%3D%220%200%2026%2021%22%20width%3D%2226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m0%200h26v3h-26z%22%2F%3E%3Cpath%20d%3D%22m0%209h26v3h-26z%22%2F%3E%3Cpath%20d%3D%22m0%2018h26v3h-26z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        left: 3vw;
        margin-top: 16px;
        width: 64px;
        height: 32px;
        background-size: contain;
        z-index: 11;
        display: inline-block;
        text-indent: -9999px;
        transition: background .5s ease-in-out;
    }
    .head .close {
        transition: background .9s ease-in-out;
        background-image: url("../images/close.svg");
    }

    .head .logo {
        width: 100%;
        position: absolute;
        top: 0px;
        background-size: 96px 36px;
    }
    .head #menu ul {
        margin-top: 64px;
        background-color: rgba(55, 71, 79, 0.9);
    }
    .head #menu .default {
        transform: translate(0px, -120%);
    }

    .head #menu li {
        height: 70px;
        display: table;
    }
    .head #menu li:nth-child(2n) {
        background-color: rgba(55, 71, 79, 0.4);
    }
    .head #menu li a {
        width: 95vw;
        padding: 0px;
        vertical-align: middle;
        display: table-cell;
        padding-left: 3vw;
        font-size: 24px;
    }

    #menu li:last-child {
        margin-right: 0px;
    }
}

/* INTRO */

.container .intro {
  animation: leftToRight 1s; }

.container .intro h2 {
  color: #263238;
  margin-top: calc(40vh - 80px);
  font-size: 46px;
  font-weight: 100; }

.no-cssvwunit .container .intro h2 {
  margin-top: 70px; }

@media screen and (max-width: 670px) {
  .container .intro h2 {
    margin-top: calc(33vh - 130px); } }

@media screen and (max-width: 350px) {
  .container .intro h2 {
    font-size: 40px; } }

.container .intro h1 {
  color: #263238;
  font-size: 65px;
  font-weight: 800;
  text-transform: uppercase; }

@media screen and (max-width: 990px) {
  .container .intro h1 {
    font-size: 45px; } }

@media screen and (max-width: 350px) {
  .container .intro h1 {
    font-size: 40px; } }

@keyframes widthAnimation {
  from {
    transform: scale(0, 1); }
  to {
    transform: scale(1, 1); } }

.container .table hr,
.container .intro hr {
  border: 0px;
  width: 146px;
  height: 5px;
  background-color: transparant;
  float: left;
  display: block; }

.container .table .animatehr,
.container .intro .animatehr {
  animation: widthAnimation 1.5s;
  background-color: rgba(55, 71, 79, 0.5);
  transform-origin: 0% 0%; }

.container .intro svg {
  margin-top: 30px;
  text-align: left;
  display: none; }

@keyframes bounceAnimation {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  5% {
    transform: translateY(-100%);
    opacity: 0; }
  15% {
    transform: translateY(0);
    padding-bottom: 5px; }
  30% {
    transform: translateY(-50%); }
  40% {
    transform: translateY(0%);
    padding-bottom: 6px; }
  50% {
    transform: translateY(-30%); }
  70% {
    transform: translateY(0%);
    padding-bottom: 7px; }
  80% {
    transform: translateY(-15%); }
  90% {
    transform: translateY(0%);
    padding-bottom: 8px; }
  95% {
    transform: translateY(-7%); }
  97% {
    transform: translateY(0%);
    padding-bottom: 9px; }
  99% {
    transform: translateY(-3%); }
  100% {
    transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1; } }


@font-face {
  font-family: 'Gloriola Std';
  font-style: normal;
  font-weight: 100;
  src: local("Gloriola Std Light"), local("Gloriola-Std-Light"), url(fonts/GloriolaStd-Light.woff2) format("woff2"), url(../fonts/GloriolaStd-Light.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Gloriola Std';
  font-style: normal;
  font-weight: 300;
  src: local("Gloriola Std Medium"), local("Gloriola-Std-Medium"), url(fonts/GloriolaStd-Medium.woff2) format("woff2"), url(../fonts/GloriolaStd-Medium.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Gloriola Std';
  font-style: normal;
  font-weight: 800;
  src: local("Gloriola Std Bold"), local("Gloriola-Std-Bold"), url(fonts/GloriolaStd-Bold.woff2) format("woff2"), url(../fonts/GloriolaStd-Bold.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


/* CONTAINER */
body {
  margin-top: 64px;
  font-family: "Gloriola Std", sans-serif;
  font-weight: 100;
  font-size: 16px;
}


.container {
    width: 960px;
    margin: 0px auto 0px auto;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1000px) {
	.container{
		width: 97%;
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media (max-width: 415px) {
	.container{
		width: 96%;
		margin-left: 10px;
		margin-right: 10px;
	}
}

.container .entry-content {
    margin-top: 80px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    margin-top: 20px;
}

h1 {
    overflow-wrap: break-word;
    color: #263238;
    font-size: 25pt;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 1.4;
}
h3 {
    font-weight: 300;
    font-size: 20px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h4 {
    font-weight: 300;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.container .entry-content code {
    font-family: monospace,monospace;
	word-break: break-all;
}

pre {
	padding: .66001rem 9.5px 9.5px;
	line-height: 2rem;
	margin: 0 0 10px;
	background: linear-gradient(to bottom,#fff 0,#fff .75rem,#f5f7fa .75rem,#f5f7fa 2.75rem,#fff 2.75rem,#fff 4rem);
	background-size: 100% 4rem;
	border-color: #D3DAEA;
	border: 1px solid #ccc;
	word-break: break-all;
	word-wrap: break-word;
	color: #333;
}
pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.container .entry-content strong {
    font-weight: 300;

}
.container .entry-content ul > li {
    list-style: square;
    margin-left: 16px;
    padding-left: 5px;
}

.container .entry-content ol > li {
    list-style: decimal;
    margin-left: 16px;
    padding-left: 5px;
}
