/* HTML RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, picture {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

em, i {
  font-style: italic; }

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; }

a {
  color:#263238
}

/* HEADER */
/* MENU */

.head {
  width: 100%;
  height: 40px;
  position: fixed;
   top: 0px;
  left: 0px;
  background-color: #263238;
  z-index: 10;
  transition: background .5s ease-in-out;
}

.head .logo {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24' height='24' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23FFF' d='M18.9,19.8C18.9,19.8,18.9,19.8,18.9,19.8c-0.5,0-0.9-0.1-1.3-0.2c0,0.3-0.2,0.6-0.4,0.9l-1.4,1.8l1.4,0 c0,0,1.7,0,1.7-1.5'/%3E%3Cpath fill='%23FFF' d='M7.6,5.9c0.8,0.4,1.8,0.6,2.9,0.6c1.1,0,2.1-0.2,2.9-0.6c0.5-0.2,0.8-0.5,1-0.8c0,0,0,0,0,0c-0.5-5.6-3.3-2.4-3.8-2.4 c-0.6,0-3.3-3.1-3.8,2.4c0,0,0,0,0,0C6.8,5.4,7.1,5.7,7.6,5.9z'/%3E%3Cpath fill='%23FFF' d='M6.3,8.5c0.2,3.3,1.9,5.3,4.1,5.3s3.9-2,4.1-5.3c1.1-0.4,1.7-1,1.7-1.6c0-0.6-0.5-1.1-1.4-1.5c-0.2,0.4-0.7,0.8-1.3,1.1 c-0.8,0.4-2,0.6-3.1,0.6c-1.2,0-2.3-0.2-3.1-0.6C6.6,6.2,6.2,5.8,6,5.4C5.1,5.8,4.6,6.3,4.6,6.9C4.6,7.5,5.3,8.1,6.3,8.5z'/%3E%3Cpath fill='%23FFF' d='M21.8,11.8c-1.7-1.4-4.2-1.1-5.6,0.7c-1.2,1.5-1.1,3.5,0,5l-0.6,0.7c-0.3,0-0.5,0.2-0.7,0.4l-1.7,2.1 c-0.4,0.5-0.3,1.3,0.2,1.7c0.5,0.4,1.3,0.3,1.7-0.2l1.7-2.1c0.2-0.2,0.3-0.5,0.3-0.8l0.6-0.7c1.6,0.8,3.7,0.4,4.8-1.1 C23.8,15.7,23.5,13.2,21.8,11.8z M21.5,16.7c-1,1.2-2.7,1.4-3.9,0.5c-1.2-1-1.4-2.7-0.5-3.9c1-1.2,2.7-1.4,3.9-0.5 C22.3,13.7,22.5,15.5,21.5,16.7z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cpath fill='%23FFF' d='M14.5,15.9c0,0-0.3-0.4-0.8-0.9l0,0l0,0c-0.1-0.1-0.3-0.3-0.5-0.4l0,0l-0.5-0.4c-0.3-0.2-0.6-0.2-0.9,0l-1.3,1.3l-1.3-1.3 c-0.2-0.2-0.6-0.2-0.9,0l-1,0.8l-3.2,1.3c-0.3,0.1-0.6,0.2-1,0.3c-1.7,0.7-1.3,3.8-1.3,3.8c0,1.9,1.3,1.8,1.3,1.8h9.2 c0,0-0.4-0.8,0.4-2.1c2.1-2.5,2.5-2.4,2.5-2.4C14.5,16.8,14.6,16.4,14.5,15.9z'/%3E%3C/svg%3E%0A");  font-size: 17px;
  color: white;
  display: inline-block;
  text-decoration: none;
  width: 80px;
  padding-top: 10px;
  padding-left:10px;
  height:30px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: center right;

  transition: background .5s ease-in-out;
}

.head .hamburger {
  display: none;
}

#menu ul {
  position: relative;
  float: right;
}

#menu li {
  float: left;
  height: 30px;
  transition: height 1s;
}

#menu li a {
  height: 30px;
  padding: 10px 11px 0px 11px;
  margin-left: 15px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 17px;
  transition: background .8s ease-in-out;
}



#menu .moveaway {
  transform: translate(0px, -220%);
  transition: transform 500ms ease-in-out;
}

#menu .moveto {
  transform: translate(0px, 0%);
  transition: transform 500ms ease-in-out;
}

#menu li:last-child {
  margin-right: 50px;
}

#menu li a:hover {
  background: #37474f;
  transition: background .5s ease-in-out;
}

#menu .active a {
  background-color: red;
  background: #37474f;
}

@media screen and (max-width: 670px) {
    .head .close,
    .head .hamburger {
        background-image: url("data:image/svg+xml,%3Csvg%20height%3D%2221%22%20viewBox%3D%220%200%2026%2021%22%20width%3D%2226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m0%200h26v3h-26z%22%2F%3E%3Cpath%20d%3D%22m0%209h26v3h-26z%22%2F%3E%3Cpath%20d%3D%22m0%2018h26v3h-26z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        left: 3vw;
        margin-top: 10px;
        width: 25px;
        height: 25px;
        background-size: contain;
        z-index: 11;
        display: inline-block;
        text-indent: -9999px;
        transition: background .5s ease-in-out;
    }
    .head .close {
        transition: background .9s ease-in-out;
        background-image: url("data:image/svg+xml,%3Csvg height='21' viewBox='0 0 21 21' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-rule='evenodd'%3E%3Cpath d='m-2.746952 8.753048h26v3h-26z' transform='matrix(.70710678 .70710678 -.70710678 .70710678 10.253048 -4.246952)'/%3E%3Cpath d='m-2.746952 8.753048h26v3h-26z' transform='matrix(-.70710678 .70710678 .70710678 .70710678 10.253048 -4.246952)'/%3E%3C/g%3E%3C/svg%3E");    
      }

    .head .logo {
        position: absolute;
        top: 0px;
        margin-top:0px;
        left: calc(50% - 40px);
    }
    .head #menu ul {
        margin-top: 40px;
        background-color: rgba(55, 71, 79, 0.9);
    }
    .head #menu .default {
        transform: translate(0px, -120%);
    }

    .head #menu li {
        height: 40px;
        display: table;
    }
    .head #menu li:nth-child(2n) {
        background-color: rgba(55, 71, 79, 0.4);
    }
    .head #menu li a {
        width: 95vw;
        padding: 0px;
        vertical-align: middle;
        display: table-cell;
        padding-left: 3vw;
        font-size: 18px;
    }

    #menu li:last-child {
        margin-right: 0px;
    }
}

/* INTRO */

.container .intro {
  animation: leftToRight 1s; }

.container .intro h2 {
  color: #263238;
  margin-top: calc(40vh - 80px);
  font-size: 46px;
  font-weight: 100; }

.no-cssvwunit .container .intro h2 {
  margin-top: 70px; }

@media screen and (max-width: 670px) {
  .container .intro h2 {
    margin-top: calc(33vh - 130px); } }

@media screen and (max-width: 350px) {
  .container .intro h2 {
    font-size: 40px; } }

.container .intro h1 {
  color: #263238;
  font-size: 65px;
  font-weight: 800;
  text-transform: uppercase; }

@media screen and (max-width: 990px) {
  .container .intro h1 {
    font-size: 45px; } }

@media screen and (max-width: 350px) {
  .container .intro h1 {
    font-size: 40px; } }

@keyframes widthAnimation {
  from {
    transform: scale(0, 1); }
  to {
    transform: scale(1, 1); } }

.container .table hr,
.container .intro hr {
  border: 0px;
  width: 146px;
  height: 5px;
  background-color: transparant;
  float: left;
  display: block; }

.container .table .animatehr,
.container .intro .animatehr {
  animation: widthAnimation 1.5s;
  background-color: rgba(55, 71, 79, 0.5);
  transform-origin: 0% 0%; }

.container .intro svg {
  margin-top: 30px;
  text-align: left;
  display: none; }

@keyframes bounceAnimation {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  5% {
    transform: translateY(-100%);
    opacity: 0; }
  15% {
    transform: translateY(0);
    padding-bottom: 5px; }
  30% {
    transform: translateY(-50%); }
  40% {
    transform: translateY(0%);
    padding-bottom: 6px; }
  50% {
    transform: translateY(-30%); }
  70% {
    transform: translateY(0%);
    padding-bottom: 7px; }
  80% {
    transform: translateY(-15%); }
  90% {
    transform: translateY(0%);
    padding-bottom: 8px; }
  95% {
    transform: translateY(-7%); }
  97% {
    transform: translateY(0%);
    padding-bottom: 9px; }
  99% {
    transform: translateY(-3%); }
  100% {
    transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1; } }


@font-face {
  font-family: 'Gloriola Std';
  font-style: normal;
  font-weight: 100;
  src: local("Gloriola Std Light"), local("Gloriola-Std-Light"), url(../GloriolaStd-Light.woff2) format("woff2"), url(../GloriolaStd-Light.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Gloriola Std';
  font-style: normal;
  font-weight: 300;
  src: local("Gloriola Std Medium"), local("Gloriola-Std-Medium"), url(../GloriolaStd-Medium.woff2) format("woff2"), url(../GloriolaStd-Medium.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Gloriola Std';
  font-style: normal;
  font-weight: 800;
  src: local("Gloriola Std Bold"), local("Gloriola-Std-Bold"), url(../GloriolaStd-Bold.woff2) format("woff2"), url(../GloriolaStd-Bold.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


/* CONTAINER */
body {
  margin-top: 30px;
  font-family: "Gloriola Std", sans-serif;
  font-weight: 100;
  font-size: 16px;
}


.container {
    width: 960px;
    margin: 0px auto 0px auto;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1000px) {
	.container{
		width: 97%;
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media (max-width: 415px) {
	.container{
		width: 96%;
		margin-left: 10px;
		margin-right: 10px;
	}
}

.container .entry-content {
    margin-top: 80px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    margin-top: 20px;
}

h1 {
    overflow-wrap: break-word;
    color: #263238;
    font-size: 25pt;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 1.4;
}
h3 {
    font-weight: 300;
    font-size: 22px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h4 {
    font-weight: 300;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 18px;
}

.container .entry-content code {
    font-family: monospace,monospace;
	word-break: break-all;
}

pre {
	padding: .66001rem 9.5px 9.5px;
	line-height: 2rem;
	margin: 0 0 10px;
	background: linear-gradient(to bottom,#fff 0,#fff .75rem,#f5f7fa .75rem,#f5f7fa 2.75rem,#fff 2.75rem,#fff 4rem);
	background-size: 100% 4rem;
	border-color: #D3DAEA;
	border: 1px solid #ccc;
	word-break: break-all;
	word-wrap: break-word;
	color: #333;
}
pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.container .entry-content strong {
    font-weight: 300;
    /* font-weight: bold; */
}
.container .entry-content ul > li {
    list-style: square;
    margin-left: 16px;
    padding-left: 5px;
}

.container .entry-content ol > li {
    list-style: decimal;
    margin-left: 16px;
    padding-left: 5px;
}
