DirectoryIndex index.html


Header always set Content-Security-Policy "default-src 'self'; connect-src 'self' api.github.com www.google-analytics.com https://stats.g.doubleclick.net/; script-src 'self' 'unsafe-inline' https://www.googletagmanager.com www.google-analytics.com https://s.ytimg.com https://www.google.com https://www.youtube.com https://youtube.com; img-src 'self' data: https://media.qdraw.nl www.googletagmanager.com https://s.ytimg.com https://img.youtube.com https://www.google-analytics.com https://stats.g.doubleclick.net; style-src 'unsafe-inline' 'self'; font-src 'self'; frame-src 'self' https://www.youtube.com https://youtube.com; object-src 'self'; frame-ancestors 'self'"


<Files ~ "index\.html">
	AddDefaultCharset UTF-8
	DefaultLanguage nl-NL
	Header set Link ""
</Files>

<Files ~ "\.(htm|html)$">
	AddDefaultCharset UTF-8
	DefaultLanguage nl-NL
	Header set Link ""
</Files>