name: Application Version Auto update
on:
  push:
    branches:
      - master
      - release/*
    paths: 
      - 'starsky-tools/build-tools/app-version-update.js'
  workflow_dispatch:

jobs: 
  run:
    name: Update Nuget packages list
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 16.x
      
    - name: Npm app-version-update
      working-directory: ./starsky-tools/build-tools
      run: npm run app-version-update

    - name: Commit changes
      uses: EndBug/add-and-commit@v4
      with:
        author_name: Application Version Update Bot
        author_email: qdraw@users.noreply.github.com
        message: "Auto commited Application Version update"
        add: "."
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

