name: SonarQube Desktop .NET Analyze (Missing .NET dependency)

on:
  workflow_dispatch:
  pull_request:
    types: 
      - synchronize
      - opened
    branches:
      - master
    paths:
    - 'starskydesktop/**'
    - '.github/workflows/desktop-electron-sonarqube-missing-net-dependency.yml'
  push:
    branches: [master]
    paths:
    - 'starskydesktop/**'
    - '.github/workflows/desktop-electron-sonarqube-missing-net-dependency.yml'    
  schedule:
    - cron:  '36 0 * * 0,2,4,6'

permissions:
  contents: read

env:
  PR_NUMBER_GITHUB: ${{ github.event.pull_request.number }}
  
jobs:
  build:

    runs-on: ubuntu-latest
    
    env:
      WEBSITE_SITE_NAME: "ci"
      
    steps:
      - name: 'Checkout repository on branch: ${{ github.REF }}'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: ${{ github.HEAD_REF }}

      - name: Retrieve entire repository history
        run: |
          git fetch --prune --unshallow
        
      - name: Use Java 21   
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
        with:
          distribution: 'zulu'
          java-version: '21'
          check-latest: true
          java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
          architecture: x64 # (x64 or x86) - defaults to x64

      - name: Set node version
        uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
        with:
          node-version: '22.x'

      - name: Cache sonarqube packages (*nix)
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        with:
          # nuget cache files are stored in `~/.sonar` on Linux/macOS
          path: ~/.sonar
          key: ${{ runner.os }}-build-desktop-sonar
          restore-keys: |
            ${{ runner.os }}-build-desktop-sonar
            
      - name: NpmCi
        working-directory: ./starskydesktop
        run: npm ci

      - name: Test
        working-directory: ./starskydesktop
        env:
          STARSKY_SONAR_TOKEN: ${{ secrets.STARSKY_SONAR_TOKEN }}
          STARSKY_SONAR_ORGANISATION: ${{ secrets.STARSKY_SONAR_ORGANISATION }}
          STARSKY_SONAR_URL:  ${{ secrets.STARSKY_SONAR_URL }}        
        run: npm run test:ci


