name: Documentation update dependencies create docusaurus
permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
  schedule:
    - cron:  '45 4 15 * *'
    
jobs:
  run:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        ref: master

    - name: Setup Node.js environment
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
      with:
        node-version: 24
        check-latest: true

    - name: 'Update docusaurus'
      id: clientapp_create_docusaurus_update
      working-directory: ./starsky-tools/build-tools
      run: npm run documentation-create-docusaurus-update
      
    - shell: bash
      working-directory: ./documentation
      id: files_changed
      run: |
        git status
        git status --porcelain
      
        if [[ `git status --porcelain` ]]; then
          echo "There are files not committed yet"
          echo "CHANGED=true" >> $GITHUB_OUTPUT
        else 
          echo "not changed"
          echo "CHANGED=false" >> $GITHUB_OUTPUT
        fi
      
    - name: Create Pull Request ${{ steps.files_changed.outputs.CHANGED }}
      id: cpr
      uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725
      with:
        token: ${{ secrets.WORKFLOW_GITHUB }}
        commit-message: 'Update Documentation and Docusaurus'
        committer: GitHub <noreply@github.com>
        author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
        signoff: false
        add-paths: |
          *
        branch: feature/auto_documentation_create_docusaurus_update
        delete-branch: true
        title: 'Documentation - Create Docusaurus - Upgrade dependencies'
        body: |
          ## Upgrade Documentation to the lastest Docusaurus version
          - todo: test!         
        labels: |
          dependencies
        draft: false
        
    - name: Merge current branch into -> auto_documentation_create_docusaurus_update
      uses: everlytic/branch-merge@c4a244dc23143f824ae6c022a10732566cb8e973
      if: github.event_name == 'workflow_dispatch' && steps.files_changed.outputs.CHANGED == 'true'
      with:
        github_token: ${{ secrets.WORKFLOW_GITHUB }}
        source_ref: 'master'
        target_branch: feature/auto_documentation_create_docusaurus_update
        commit_message_template: '[Automated] Merged {source_ref} into target {target_branch}'
