name: Documentation Linux CI

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
on:
  push:
    branches: [ master ]
    paths:
    - 'documentation/**'
  pull_request:
    branches: [ master ]
    paths:
    - 'documentation/**'
    - '.github/workflows/**'
  workflow_dispatch:
    

permissions:
  contents: read

jobs:
  build:
    if: ${{ github.event_name == 'pull_request' }}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Build ${{ matrix.node-version }}
      uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
      with:
        node-version: ${{ matrix.node-version }}

    - name: Cache node modules docs
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.os }}-documentation-${{ hashFiles('./documentation/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-documentation-

    - name: Install Dependencies
      working-directory: ./documentation
      run: npm ci --no-progress --prefer-offline --legacy-peer-deps --no-fund
      
    - name: NpmBuild
      working-directory: ./documentation
      run: npm run build


  release:
    if: ${{ github.event_name != 'pull_request' && github.repository == 'qdraw/starsky' && github.ref == 'refs/heads/master' }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
        with:
          node-version: '22.x'

      - name: Cache node modules docs
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-documentation-${{ hashFiles('./documentation/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-documentation-

      - name: Install Dependencies
        working-directory: ./documentation
        run: npm ci --no-progress --prefer-offline --legacy-peer-deps --no-fund
        
      - name: NpmBuild
        working-directory: ./documentation
        run: npm run build
