name: Clean untagged ghcr images

on:
  workflow_dispatch:
  schedule:
    - cron:  '45 03 * * *'
    

jobs:
  delete_versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/delete-package-versions@v5
        with: 
          package-name: 'starsky'
          token: ${{ secrets.WORKFLOW_GITHUB }}
          package-type: 'container'
          min-versions-to-keep: 10
          delete-only-untagged-versions: 'true'
