name: Snyk analysis

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
on:
  workflow_dispatch:

jobs:
  run:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      with:
        ref: master
        
    - name: Setup Node.js environment
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
      with:
        node-version: 18
        check-latest: true
  
    - name: 'npx -y snyk auth token'
      working-directory: ./
      env:
        SNYK_AUTH_TOKEN: ${{ secrets.SNYK_AUTH_TOKEN }}
      run: npx -y snyk auth $SNYK_AUTH_TOKEN

    - name: 'npx snyk test --all-projects'
      working-directory: ./
      run: npx -y snyk test --all-projects --fail-on=upgradable

  
