name: Update Application version auto
permissions:
  contents: write
on:
  push:
    branches:
      - master
      - release/*
    paths: 
      - 'starsky-tools/build-tools/app-version-update.js'
      - '.github/workflows/global-update-application-version-auto.yml'      
  workflow_dispatch:

jobs: 
  run:
    name: Application Version Auto update (job)
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout repo
      uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5

    - name: Set up Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
      with:
        node-version: 22.x
      
    - name: Npm app-version-update
      working-directory: ./starsky-tools/build-tools
      run: npm run app-version-update

    - name: Commit changes
      uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5
      with:
        author_name: Application Version Update Bot
        author_email: qdraw@users.noreply.github.com
        message: "Auto commited Application Version update"
        add: "."
        github_token: ${{ secrets.GITHUB_TOKEN }}

