name: Clean untagged and nightly ghcr images

on:
  workflow_dispatch:
  schedule:
    - cron:  '45 03 * * *'
    

jobs:
  delete_versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/delete-package-versions@25ad4af5be03aef10e0b3376b248688b7a44c40b
        with: 
          package-name: 'starsky'
          token: ${{ secrets.WORKFLOW_GITHUB }}
          package-type: 'container'
          delete-only-untagged-versions: 'true'

      - uses: actions/delete-package-versions@25ad4af5be03aef10e0b3376b248688b7a44c40b
        with: 
          package-name: 'starsky-unstable-nightly'
          token: ${{ secrets.WORKFLOW_GITHUB }}
          package-type: 'container'
          min-versions-to-keep: 100
