name: Starsky Codecov ClientApp NetCore

on:
  push:
    branches: [ master ]
    paths:
    - 'starsky/**'

  pull_request:
    branches:
      - master
    paths:
    - 'starsky/**'
    - '.github/workflows/**'
    - '!starsky/Dockerfile'
    - '!starsky/docker_demo_setup.sh'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout repository on branch: ${{ github.REF }}'
        uses: actions/checkout@v2
        with:
          ref: ${{ github.HEAD_REF }}

      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.414
 
      - name: Cache node modules clientapp (*nix)
        uses: actions/cache@v2
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-clientapp-${{ hashFiles('./starsky/starsky/clientapp/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-clientapp-

      - name: Cache nuget packages (*nix)
        uses: actions/cache@v2
        with:
          # nuget cache files are stored in `~/.nuget/packages` on Linux/macOS
          path: ~/.nuget/packages
          key: ${{ runner.os }}-build-netcore-${{ hashFiles('./starsky/starsky/nuget-packages-list.json') }}
          restore-keys: |
            ${{ runner.os }}-build-netcore-
 
      - name: Build
        shell: bash
        working-directory: ./starsky
        run: bash build.sh
        
      - uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}  
          file: ./starsky/starskytest/coverage-merge-cobertura.xml
          flags: all # flags must match pattern ^[\w\,]+$
          name: codecov # optional
