name: Starsky Deploy Demo

on:
  push:
    branches:
    - master
    - release/*
  pull_request:
    branches: [ master ]
    paths:
    - '.github/workflows/starsky-deploy-demo-env.yml'
    - 'starsky/Dockerfile'
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build and deploy the Docker image
      env: 
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        APP_NAME: ${{ 'starskydemo' }}
      run: |
        cd ./starsky
        docker login --username=_ --password=$HEROKU_API_KEY registry.heroku.com
        heroku container:push web -a $APP_NAME
        heroku container:release web -a $APP_NAME
