# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Starsky ClientApp (React)

on:
  push:
    branches: [ master ]
    paths:
    - 'starsky/starsky/clientapp/**'
  pull_request:
    branches: [ master ]
    paths:
    - 'starsky/starsky/clientapp/**'
    - '.github/workflows/**'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Build ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: NpmCi
      working-directory: ./starsky/starsky/clientapp
      run: npm ci
    - name: NpmBuild
      working-directory: ./starsky/starsky/clientapp
      run: npm run build
    - name: NpmTest
      working-directory: ./starsky/starsky/clientapp
      run: npm run test:ci
    - uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}  
        timeout-minutes: 10 
        file: ./starsky/starsky/clientapp/coverage/coverage-final.json
        flags: clientapp # flags must match pattern ^[\w\,]+$
        name: codecov # optional
