name: Starsky SonarQube ClientApp NetCore Analyze PR

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches:
      - master
    paths:
    - 'starsky/**'
    - '!starsky/starsky/clientapp/**'
    - '.github/workflows/**'
    
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout repository on branch: ${{ github.REF }}'
        uses: actions/checkout@v2
        with:
          ref: ${{ github.HEAD_REF }}

      - name: Retrieve entire repository history
        run: |
          git fetch --prune --unshallow

      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.402
        
      - name: Build
        shell: bash
        env:
          STARSKY_SONAR_KEY: ${{ secrets.STARSKY_SONAR_KEY }}
          STARSKY_SONAR_LOGIN: ${{ secrets.STARSKY_SONAR_LOGIN }}
          STARSKY_SONAR_ORGANISATION: ${{ secrets.STARSKY_SONAR_ORGANISATION }}
          STARSKY_SONAR_URL:  ${{ secrets.STARSKY_SONAR_URL }}
        working-directory: ./starsky
        run: bash build.sh     

      - uses: actions/upload-artifact@v2
        with:
          name: starsky-generic-netcore
          path: ./starsky/starsky-generic-netcore.zip
