name: Tools smoke test node
permissions:
  contents: read

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ master ]
    paths:
    - 'starsky-tools/localtunnel/**'
    - 'starsky-tools/mail/**'
    - 'starsky-tools/mock/**'
    - 'starsky-tools/thumbnail/**'
  pull_request:
    branches: [ master ]
    paths:
    - 'starsky-tools/localtunnel/**'
    - 'starsky-tools/mail/**'
    - 'starsky-tools/mock/**'
    - 'starsky-tools/thumbnail/**'
    - '.github/workflows/**'
  workflow_dispatch: 

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Build ${{ matrix.node-version }}
      uses: actions/setup-node@2951748f4c016b747952f8ca7e75fc64f2f62b53
      with:
        node-version: ${{ matrix.node-version }}

    - name: NpmCi Mock
      working-directory: ./starsky-tools/mock
      run: npm ci

    - name: Node Run Mock SetRouter
      working-directory: ./starsky-tools/mock
      run: node set-router.js
      
    - name: NpmCi localtunnel
      working-directory: ./starsky-tools/localtunnel
      run: npm ci      
        
    - name: NpmCi mail
      working-directory: ./starsky-tools/mail
      run: npm ci      
         
    - name: NpmCi thumbnail
      working-directory: ./starsky-tools/thumbnail
      run: npm ci  
