name: Tools Mail Docker Buildx

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ master ]
    paths:
      - 'starsky-tools/mail/**'
      - '.github/workflows/tools-mail-docker-buildx.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'starsky-tools/mail/**'
      - '.github/workflows/tools-mail-docker-buildx.yml'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
    
      - name: Check Out Repo 
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        
      - name: Log in to Github Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}        

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435

      - name: Inspect Docker Buildx ghcr.io/${{ github.repository }}-mail-deprecated
        run: |
          echo "Name:      ${{ steps.buildx.outputs.name }}"
          echo "Endpoint:  ${{ steps.buildx.outputs.endpoint }}"
          echo "Status:    ${{ steps.buildx.outputs.status }}"
          echo "Flags:     ${{ steps.buildx.outputs.flags }}"
          echo "Platforms: ${{ steps.buildx.outputs.platforms }}"

      - name: Extract metadata Github Actions (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: |
            ghcr.io/${{ github.repository }}-mail-deprecated

      - name: Build and push master
        id: docker_build_push
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        if: github.event_name != 'pull_request'
        with:
          context: .
          file: starsky-tools/mail/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          tags: |
            ghcr.io/${{ github.repository }}-mail-deprecated:latest
            ghcr.io/${{ github.repository }}-mail-deprecated:v${{ github.run_id }}

      - name: Build and don't push
        id: docker_build_pull_request
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        if: github.event_name == 'pull_request'
        with:
          context: .
          file: starsky-tools/mail/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: false
