name: Tools Mail Docker Buildx

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ master ]
    paths:
      - 'starsky-tools/mail/**'
      - '.github/workflows/tools-mail-docker-buildx.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'starsky-tools/mail/**'
      - '.github/workflows/tools-mail-docker-buildx.yml'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
    
      - name: Check Out Repo 
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        
      - name: Log in to Github Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}        

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@c7c4c00f3eef127be487a50899a220e44c6bcc87

      - name: Inspect Docker Buildx ghcr.io/${{ github.repository }}-mail-deprecated
        run: |
          echo "Name:      ${{ steps.buildx.outputs.name }}"
          echo "Endpoint:  ${{ steps.buildx.outputs.endpoint }}"
          echo "Status:    ${{ steps.buildx.outputs.status }}"
          echo "Flags:     ${{ steps.buildx.outputs.flags }}"
          echo "Platforms: ${{ steps.buildx.outputs.platforms }}"

      - name: Extract metadata Github Actions (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@ed95091677497158a9ff38b314264cd965388d5e
        with:
          images: |
            ghcr.io/${{ github.repository }}-mail-deprecated

      - name: Build and push master
        id: docker_build_push
        uses: docker/build-push-action@8c1e8f8e5bf845ba3773a14f3967965548a2341e
        if: github.event_name != 'pull_request'
        with:
          context: .
          file: starsky-tools/mail/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          tags: |
            ghcr.io/${{ github.repository }}-mail-deprecated:latest
            ghcr.io/${{ github.repository }}-mail-deprecated:v${{ github.run_id }}

      - name: Build and don't push
        id: docker_build_pull_request
        uses: docker/build-push-action@8c1e8f8e5bf845ba3773a14f3967965548a2341e
        if: github.event_name == 'pull_request'
        with:
          context: .
          file: starsky-tools/mail/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: false
