name: Starsky Codecov ClientApp NetCore
permissions:
  contents: read

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
on:
  push:
    branches: [ master ]
    paths:
    - 'starsky/**'
    
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout repository on branch: ${{ github.REF }}'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: ${{ github.HEAD_REF }}

      - name: Setup .NET
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602
        with:
          dotnet-version: 8.0.416
 
      - name: Cache node modules clientapp (*nix)
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-clientapp-${{ hashFiles('./starsky/starsky/clientapp/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-clientapp-

      - name: Cache nuget packages (*nix)
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        with:
          # nuget cache files are stored in `~/.nuget/packages` on Linux/macOS
          path: ~/.nuget/packages
          key: ${{ runner.os }}-build-netcore-${{ hashFiles('./starsky/starsky/nuget-packages-list.json') }}
          restore-keys: |
            ${{ runner.os }}-build-netcore-
 
      - name: Build
        shell: bash
        working-directory: ./starsky
        run: bash build.sh --no-publish --no-dependencies --no-sonar
        
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7
        with:
          token: ${{ secrets.CODECOV_TOKEN }}  
          file: ./starsky/starskytest/coverage-merge-cobertura.xml
          flags: all # flags must match pattern ^[\w\,]+$
          name: codecov # optional
