name: MacOS Webapp .NET only build

permissions:
  contents: read

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
on:
  push:
    branches: [ master ]
    paths:
    - 'starsky/**'
    - '!starsky/starsky/clientapp/**'
  workflow_dispatch:    
  pull_request:
    branches: [ master ]
    paths:
    - 'starsky/**'
    - '!starsky/starsky/clientapp/**'
    - '.github/workflows/**'
    - '!starsky/Dockerfile'
    - '!starsky/docker_demo_setup.sh'

jobs:
  build:

    runs-on: macos-latest

    env:
      WEBSITE_SITE_NAME: "ci"

    steps:
    
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

    - name: Setup .NET
      uses: actions/setup-dotnet@25328d894dc34d01d191df4849cb7f5402e3f142
      with:
        dotnet-version: 8.0.416
        
    - name: "BuildNetCore (MacOS)"
      shell: bash
      working-directory: ./starsky
      run: bash build.sh --Target BuildNetCore --no-sonar --no-publish --no-dependencies --no-logo

    - name: "TestNetCore (MacOS)"
      shell: bash
      working-directory: ./starsky
      run: bash build.sh --Target TestNetCore --no-logo --no-publish
