name: WebApp update Nuget packages list

on:
  push:
    branches:
      - master
      - release/*
    paths: 
      - '**.csproj'
      - '.github/workflows/webapp-update-nuget-packages-list.yml'
  workflow_dispatch:

jobs: 
  run:
    name: Update Nuget packages list
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout repo
      uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

    - name: Set up Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
      with:
        node-version: 22.x
      
    - name: Npm generate package list
      working-directory: ./starsky-tools/build-tools
      run: npm run nuget-package-list

    - name: Commit changes
      uses: EndBug/add-and-commit@db8fba131f71cedfd60e319abf8ea449bb246873
      with:
        author_name: DocsUpdateBot
        author_email: qdraw@users.noreply.github.com
        message: "[NugetPackagesListUpdate] Auto commited nugetPackages list"
        add: "starsky/nuget-packages-list.json"
        github_token: ${{ secrets.GITHUB_TOKEN }}
