name: WebApp update Nuget packages list

on:
  push:
    branches:
      - master
      - release/*
    paths: 
      - '**.csproj'
  workflow_dispatch:

jobs: 
  run:
    name: Update Nuget packages list
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout repo
      uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5

    - name: Set up Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
      with:
        node-version: 22.x
      
    - name: Npm generate package list
      working-directory: ./starsky-tools/build-tools
      run: npm run nuget-package-list

    - name: Commit changes
      uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5
      with:
        author_name: DocsUpdateBot
        author_email: qdraw@users.noreply.github.com
        message: "[NugetPackagesListUpdate] Auto commited nugetPackages list"
        add: "starsky/nuget-packages-list.json"
        github_token: ${{ secrets.GITHUB_TOKEN }}
