name: Windows .NET build

permissions:
  contents: read

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
on:
  push:
    branches: [ master ]
    paths:
    - 'starsky/**'
    - '!starsky/starsky/clientapp/**'
  workflow_dispatch:    
  pull_request:
    branches: [ master ]
    paths:
    - 'starsky/**'
    - '!starsky/starsky/clientapp/**'
    - '.github/workflows/**'
    - '!starsky/Dockerfile'
    - '!starsky/docker_demo_setup.sh'

jobs:
  build:

    runs-on: windows-latest

    env:
      WEBSITE_SITE_NAME: "ci"

    steps:
    
    - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5

    - name: Setup .NET
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602
      with:
        dotnet-version: 8.0.416
        
    - name: Build (Windows)
      shell: pwsh
      working-directory: ./starsky
      run: pwsh build.ps1 --Target BuildNetCore --no-sonar --no-dependencies --no-publish --no-logo 
      
    - name: Test (Windows)
      shell: pwsh
      working-directory: ./starsky
      run: pwsh build.ps1 --Target TestNetCore --no-sonar --no-dependencies --no-publish --no-logo
