name: 'WebApp Update Swagger definitions'
permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths:
    - '**.cshtml'
    - '**.cs'
    - '**.sln'
    - '**.cake'
    - '**.json'
    - '.github/workflows/webapp-update-swagger-dotnet.yml'
    - 'starsky-tools/build-tools/app-version-update.js'    
  pull_request:
    branches: [ master ]
    paths:
    - '.github/workflows/auto-update-swagger-dotnet.yml'
    - 'documentation/static/openapi/openapi.json'
 
jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309
      with:
        dotnet-version: 8.0.417

    - name: Cache nuget packages (*nix)
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
      with:
        # nuget cache files are stored in `~/.nuget/packages` on Linux/macOS
        path: ~/.nuget/packages
        key: ${{ runner.os }}-build-netcore-${{ hashFiles('./starsky/starsky/nuget-packages-list.json') }}
        restore-keys: |
          ${{ runner.os }}-build-netcore-

    - name: Run With Exit
      shell: bash
      working-directory: ./starsky/starsky
      env: 
        app__AddSwagger: "true"
        app__AddSwaggerExport: "true"
        app__AddSwaggerExportExitAfter: "true"
        app__SyncOnStartup: "false"
        app__thumbnailGenerationIntervalInMinutes: 0
        app__EnablePackageTelemetry: "false"
        app__useDiskWatcher: "false"
        app__GeoFilesSkipDownloadOnStartup: "true"
        app__ExiftoolSkipDownloadOnStartup: "true"
      run: dotnet run --no-launch-profile

    - name: Copy
      shell: bash
      run: cp starsky/starsky/bin/Debug/net*.0/temp/starsky.json documentation/static/openapi/openapi.json

    - name: Generate swagger
      shell: bash
      working-directory: ./documentation
      run: node scripts/openapi.js

    - shell: bash
      working-directory: ./documentation
      id: files_changed
      run: |
        git status
        git status --porcelain
      
        if [[ `git status --porcelain` ]]; then
          echo "There are files not committed yet"
          echo "CHANGED=true" >> $GITHUB_OUTPUT
        else 
          echo "not changed"
          echo "CHANGED=false" >> $GITHUB_OUTPUT
        fi
      
    - name: Create Pull Request ${{ steps.files_changed.outputs.CHANGED }}
      id: cpr
      if: steps.files_changed.outputs.CHANGED == 'true'
      uses: peter-evans/create-pull-request@34aa40e9cf0bb8b5be745a552003fdeb25e4dd3a
      with:
        token: ${{ secrets.WORKFLOW_GITHUB }}
        commit-message: 'WebApp Update Swagger .NET'
        committer: GitHub <noreply@github.com>
        author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
        signoff: false
        add-paths: |
          *
        branch: feature/webapp_update_swagger_dotnet
        delete-branch: true
        title: 'WebApp Update Swagger .NET'
        body: |
          ## WebApp Update Swagger .NET
          - todo: test!         
        labels: |
          documentation
        draft: false
