name: WebApp update Nuget packages list

on:
  push:
    branches:
      - master
      - release/*
    paths: 
      - '**.csproj'
      - '.github/workflows/webapp-update-nuget-packages-list.yml'
  workflow_dispatch:

jobs: 
  run:
    name: Update Nuget packages list
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout repo
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Set up Node.js
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
      with:
        node-version: 22.x
      
    - name: Npm generate package list
      working-directory: ./starsky-tools/build-tools
      run: npm run nuget-package-list

    - name: Commit changes
      uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5
      with:
        author_name: DocsUpdateBot
        author_email: qdraw@users.noreply.github.com
        message: "[NugetPackagesListUpdate] Auto commited nugetPackages list"
        add: "starsky/nuget-packages-list.json"
        github_token: ${{ secrets.GITHUB_TOKEN }}
