name: WebApp update Nuget packages list

on:
  push:
    branches:
      - master
      - release/*
    paths: 
      - '**.csproj'
      - '.github/workflows/webapp-update-nuget-packages-list.yml'
  workflow_dispatch:

jobs: 
  run:
    name: Update Nuget packages list
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout repo
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Set up Node.js
      uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
      with:
        node-version: 22.x
      
    - name: Npm generate package list
      working-directory: ./starsky-tools/build-tools
      run: npm run nuget-package-list

    - name: Commit changes
      uses: EndBug/add-and-commit@22c9062c9c5b6201f08d4ca4ffc001d380046644
      with:
        author_name: DocsUpdateBot
        author_email: qdraw@users.noreply.github.com
        message: "[NugetPackagesListUpdate] Auto commited nugetPackages list"
        add: "starsky/nuget-packages-list.json"
        github_token: ${{ secrets.GITHUB_TOKEN }}
