name: WebApp Docker buildx multi-arch CI unstable master

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ master ]
    paths:
    - '.github/workflows/starsky-docker-buildx.yml'
    - 'starsky/**'
    
  pull_request:
    branches: [ master ]
    paths:
    - '.github/workflows/starsky-docker-buildx.yml'
    - 'starsky/Dockerfile'
    
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
    
      - name: Check Out Repo 
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        
      - name: Log in to Github Container registry
        uses: docker/login-action@3227f5311cb93ffd14d13e65d8cc400d30f4dd8a
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}        

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@7c525be6cc8a882d5163ce04293cac18617c709f

      - name: Inspect Docker Buildx ghcr.io/${{ github.repository }}-unstable-nightly
        run: |
          echo "Name:      ${{ steps.buildx.outputs.name }}"
          echo "Endpoint:  ${{ steps.buildx.outputs.endpoint }}"
          echo "Status:    ${{ steps.buildx.outputs.status }}"
          echo "Flags:     ${{ steps.buildx.outputs.flags }}"
          echo "Platforms: ${{ steps.buildx.outputs.platforms }}"

      - name: Extract metadata Github Actions (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@a60f0f62b5c12316066c8db464bfb2faafd7907b
        with:
          images: |
            ghcr.io/${{ github.repository }}-unstable-nightly

      - name: Build and push master
        id: docker_build_push
        uses: docker/build-push-action@8c1e8f8e5bf845ba3773a14f3967965548a2341e
        if: github.event_name != 'pull_request'
        with:
          context: ./starsky
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          build-args: TOOLS=true
          tags: |
            ghcr.io/${{ github.repository }}-unstable-nightly:latest
            ghcr.io/${{ github.repository }}-unstable-nightly:v${{ github.run_id }}

      - name: Build and don't push
        id: docker_build_pull_request
        uses: docker/build-push-action@8c1e8f8e5bf845ba3773a14f3967965548a2341e
        if: github.event_name == 'pull_request'
        with:
          context: ./starsky
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: false
